<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header>Registro CFDI Linea B<span class="badge badge-primary" style="margin-left: 10px;"
          *ngIf="preFolio != '*' && factura">{{factura.statusFactura}}</span>

        <button type="button" *ngIf="preFolio !== '*'" class="btn btn-sm btn-outline-primary float-right"
          (click)="downloadPdf(factura.folio)">
          <i class="fa fa-file-pdf"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" *ngIf="preFolio !== '*' && factura.statusFactura == 'Timbrada'"
          class="btn btn-sm btn-outline-primary float-right" (click)="downloadXml(factura.folio)">
          <i class="fa fa-code"></i>
        </button>

      </nb-card-header>
      <nb-card-body>

        <p class="font-weight-bold">Información Emisor y Receptor</p>
        <div class="row" *ngIf="preFolio === '*'">

          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputGiro" class="label">Giro Empresa</label>
              <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                style="display:block;" [(ngModel)]="formInfo.giro">
                <option value="*">Seleccionar</option>
                <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <label for="inputEmpresa" class="label">Empresa</label>
            <select id="inputEmpresa" class="form-control" (change)="onCompanySelected($event.target.value)"
              [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth>
              <option value="*">Seleccionar</option>
              <option *ngFor="let company of companiesCat" [(value)]="company.id">
                {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
              </option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="inputCliente" class="label">Razón social</label>
            <div class="row form-inline">
              <input type="text" [(ngModel)]="formInfo.clientName" fullWidth class="form-control"
                (ngModelChange)="buscarClientInfo($event)" placeholder="Razón social">
            </div>
          </div>
          <div class="col-md-3">
            <label for="inputClient" class="label">Cliente</label>
            <select id="inputClient" class="form-control" (change)="onClientSelected($event.target.value)"
              [(ngModel)]="formInfo.clientRfc" style="display:block;" fullWidth>
              <option value="*">Seleccionar</option>
              <option *ngFor="let client of clientsCat" [(value)]="client.id">
                {{client.informacionFiscal.rfc}}-{{client.informacionFiscal.razonSocial}}
              </option>
            </select>
          </div>
        </div>
        <br>
        <div *ngIf="!loading">
          <ngx-cfdi class="slide_1" [cfdi]="factura.cfdi" [pagos]="pagosCfdi"
            [allowEdit]="factura.tipoDocumento === 'Factura' && (factura.folio === undefined || factura.statusFactura=='Validacion operaciones' || factura.statusFactura=='Por Timbrar')">
          </ngx-cfdi>
        </div>

        <br>
        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>

        <div class="d-flex float-left" *ngIf="preFolio === '*'">
          <button nbButton status="success" size="small" (click)="solicitarCfdi(factura,dialog)" [nbSpinner]="loading"
            *ngIf="this.factura.folio == undefined" [disabled]="loading" nbSpinnerStatus="success" nbSpinnerSize="small"
            nbSpinnerMessage="">
            SOLICITAR CFDI
          </button>
        </div>

        <div class="d-flex float-right" *ngIf="factura.idCfdi !== undefined">
          <button nbButton status="success" size="small" (click)="timbrarFactura(factura,dialog)" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura == 'Por Timbrar'" nbSpinnerStatus="success"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Timbrar
          </button>
          &nbsp;&nbsp;
          <button nbButton status="danger" size="small" (click)="cancelarFactura(factura)" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura == 'Timbrada'" nbSpinnerStatus="danger"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Cancelar
          </button>
          &nbsp;&nbsp;
          <button type="button" class="btn btn-sm btn-danger" (click)="rechazarFactura()"
            *ngIf="factura.statusFactura !== 'Timbrada' && factura.statusFactura !== 'Cancelada'">Rechazar</button>
        </div>
        
        <br>
        <div *ngIf="factura">

          <p class="font-weight-bold"
            *ngIf="factura.saldoPendiente > 0.01 && factura.metodoPago =='PPD' && factura.statusFactura == 'Timbrada'">
            Cargar
            Complementos</p>
          <div class="row"
            *ngIf="factura.saldoPendiente > 0.01 && factura.metodoPago =='PPD' && factura.statusFactura == 'Timbrada'">
            <div class="col-sm-2">
              <label for="inputPayCoin" class="label">Moneda</label>
              <select id="inputPayCoin" style="display:block;" class="form-control" [(ngModel)]="payment.moneda">
                <option value="MXN">Peso MX</option>
              </select>
            </div>
            <div class="col-sm-3">
              <label for="inputPayType" class="label">Forma de Pago</label>
              <select selected="1" id="inputPayType" style="display:block;" class="form-control"
                [(ngModel)]="payment.formaPago">
                <option value="*">Seleccionar</option>
                <option *ngFor="let payType of complementPayTypeCat" [value]="payType.id"> {{payType.nombre}}</option>
              </select>
            </div>
            <div class="col-sm-2">
              <label for="payAmmount" class="label">Monto Complemento</label>
              <input id="payAmmount" class="form-control" fullWidth type="number" min="0" placeholder="Monto"
                [(ngModel)]="payment.monto">
            </div>
            <div class="col-md-5">
              <label for="payAmmount" class="label">Fecha de pago</label>
              <div class="input-group">
                <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" [(ngModel)]="payment.fechaPago">
                <nb-datepicker #formpicker></nb-datepicker>
                &nbsp;&nbsp;
                <button nbButton status="primary" size="medium" (click)="generateComplement()" [nbSpinner]="loading"
                  [disabled]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="">
                  Generar Complemento
                </button>
              </div>
            </div>
          </div>
        </div>


        <div *ngIf="factura.complementos!==undefined  && factura.metodoPago=='PPD' && factura.complementos.length>0">
          <p class="font-weight-bold">Complementos</p>
          <br>
          <div class="table-responsive">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th class="text-center">Acciones</th>
                  <th class="text-center">Folio</th>
                  <th class="text-center">Emisor</th>
                  <th class="text-center">Receptor</th>
                  <th class="text-center">Metodo Pago</th>
                  <th class="text-center">Monto</th>
                  <th class="text-center">Fecha Solicitud</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let complemento of factura.complementos">
                  <td scope="row" class="text-center">
                    <button type="button" class="btn btn-outline-primary" (click)="downloadPdf(complemento.folio)">
                      <i class="fa fa-file-pdf"></i>
                    </button>&nbsp;&nbsp;
                    <button type="button" [disabled]="complemento.statusFactura !='Timbrada'" class="btn"
                      [ngClass]="{'btn-outline-secondary': complemento.statusFactura !='Timbrada', 'btn-outline-primary':complemento.statusFactura =='Timbrada'}"
                      (click)="downloadXml(complemento.folio)">
                      <i class="fa fa-code"></i>
                    </button>&nbsp;&nbsp;
                    <button type="button" [disabled]="complemento.statusFactura != 'Por Timbrar' || loading" class="btn"
                      [ngClass]="{'btn-outline-secondary': complemento.statusFactura !='Por Timbrar', 'btn-outline-success':complemento.statusFactura =='Por Timbrar'}"
                      (click)="timbrarFactura(complemento,dialog)">
                      <i class="fa fa-check-circle"></i>
                    </button>
                  </td>
                  <td scope="row" class="text-center">{{complemento.folio}}</td>
                  <td scope="row" class="text-center">{{complemento.rfcEmisor}}</td>
                  <td scope="row" class="text-center">{{complemento.rfcRemitente}}</td>
                  <td scope="row" class="text-center">{{complemento.metodoPago}}</td>
                  <td scope="row" class="text-center">{{complemento.total | currency}}</td>
                  <td scope="row" class="text-center">{{complemento.fechaCreacion}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
    <nb-card-body>
      <div class="row" style="width: 300 px;">
        <div class="col-sm-12">

          <label for="inputGiro" class="label">Pack de facturacion</label>
          <select id="inputGiro" fullWidth class="form-control" style="display:block;"
            [(ngModel)]="data.packFacturacion">
            <option value="NTLINK">NT Link</option>
            <option value="SW_SAPIENS">SW Sapiens</option>
            <option value="FACTURACION_MODERNA">Facturacion Moderna</option>
          </select>

        </div>

      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close(undefined)">Salir</button>
      &nbsp;&nbsp;
      <button class="btn btn-success" (click)="ref.close(data)">Timbrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>