<div *ngIf="clientInfo!=undefined" class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Registro cliente</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="inputRFC" class="label">RFC</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.rfc" disabled nbInput fullWidth id="inputRFC"
                placeholder="RFC cliente">
            </div>
          </div>
          <div class="col-md-7">
            <div class="form-group">
              <label for="inputSocialReason" class="label">Razón Social</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.razonSocial" nbInput fullWidth
                id="inputSocialReason" placeholder="Razón Social">
            </div>
          </div>
          <div class="col-md-1">
            <button type="button" class="btn btn-outline-success" *ngIf="!clientInfo.activo" (click)="toggleOn()">Activar</button>
            <button type="button" class="btn btn-outline-danger" *ngIf="clientInfo.activo" (click)="toggleOff()">Desactivar</button>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <label for="inputPais" class="label">País</label>
            <nb-select id="inputPais" selected="0" fullWidth style="display:block;">
              <nb-option value="0">México</nb-option>
            </nb-select>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputZipCode" class="label">Código Postal</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.cp" (ngModelChange)="zipCodeInfo($event)"
                nbInput fullWidth id="inputZipCode" placeholder="00300">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputColonia" class="label">Seleccionar colonia</label>
              <nb-select id="inputColonia" [selected]="formInfo.coloniaId" fullWidth
                (selectedChange)="onLocation($event)" style="display:block;">
                <nb-option value="*">Seleccionar</nb-option>
                <nb-option *ngFor="let colonia of colonias; let i = index" [value]="i">{{colonia}}</nb-option>
              </nb-select>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-sm-4">
            <label for="inputState" class="label">Estado</label>
            <input type="text" [(ngModel)]="clientInfo.informacionFiscal.estado" nbInput fullWidth id="inputState"
              placeholder="Estado">
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputCity" class="label">Municipio/Delegación</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.municipio" nbInput fullWidth id="inputCity"
                placeholder="Municipio/Delegación">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputLocalidad" class="label">Colonia</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.localidad" nbInput fullWidth
                id="inputLocalidad" placeholder="Colonia">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="inputCalle" class="label">Calle</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.calle" nbInput fullWidth id="inputCalle"
                placeholder="Calle">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="inputExterior" class="label">No exterior</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.noExterior" nbInput fullWidth
                id="inputExterior" placeholder="No exterior">
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="inputInterior" class="label">No interior</label>
              <input type="text" [(ngModel)]="clientInfo.informacionFiscal.noInterior" nbInput fullWidth
                id="inputInterior" placeholder="No interior">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputEmail" class="label">Correo Cliente</label>
              <input type="email" [(ngModel)]="clientInfo.informacionFiscal.correo" nbInput fullWidth id="inputEmail"
                placeholder="Email">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="inputCTO" class="label">Correo Contacto</label>
              <input type="text" [(ngModel)]="clientInfo.correoContacto" nbInput fullWidth id="inputCTO"
                placeholder="Correo Contacto">
            </div>
          </div>
        </div>
        <h6>Porcentajes Comisiones</h6>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputPromotor" class="label">Promotor</label>
              <input type="number" nbInput fullWidth [(ngModel)]="clientInfo.porcentajePromotor" id="inputPromotor" [disabled]="clientInfo.activo"
                placeholder="4">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputCliente" class="label">Cliente</label>
              <input type="number" nbInput fullWidth [(ngModel)]="clientInfo.porcentajeCliente" id="inputCliente" [disabled]="clientInfo.activo"
                placeholder="4">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputdespacho" class="label">Despacho</label>
              <input type="number" nbInput fullWidth [(ngModel)]="clientInfo.porcentajeDespacho" id="inputdespacho" [disabled]="clientInfo.activo"
                placeholder="4">
            </div>
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="inputContacto" class="label">Contacto</label>
              <input type="number" nbInput fullWidth [(ngModel)]="clientInfo.porcentajeContacto" id="inputContacto" [disabled]="clientInfo.activo"
                placeholder="4">
            </div>
          </div>
        </div>
        <p class="alert alert-warning"
          *ngIf="(clientInfo.porcentajeContacto + clientInfo.porcentajeDespacho + clientInfo.porcentajeCliente + clientInfo.porcentajePromotor) != 16"
          role="alert">La suma de los porcentajes debe ser igual al 16%</p>

        <div class="form-inline">
          <button type="button" *ngIf="formInfo.message.length > 0"
            [disabled]="(clientInfo.porcentajeContacto + clientInfo.porcentajeDespacho + clientInfo.porcentajeCliente + clientInfo.porcentajePromotor) != 16"
            (click)="insertClient()" nbButton status="primary">GUARDAR</button>
          <button type="button" *ngIf="formInfo.message.length == 0" (click)="updateClient()" nbButton
            status="primary">ACTUALIZAR</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>