

<div id="wrapper">


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

      <!-- Topbar -->
      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <h6> Algo salio mal...</h6>

        <h6>Lo sentimos...</h6>

        <h6> XD</h6>

      </nav>
      <!-- End of Topbar -->

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- 404 Error Text -->
        <div class="text-center">
          <a href="/pages/dashboard">&larr; Regresar a la pagina principal ...</a>
        </div>

      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->



  </div>
  <!-- End of Content Wrapper -->

</div>