<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Devoluciones</nb-card-header>
      <nb-card-body>
        <div class="row">

          <div class="col-sm-3">
            <label for="inputDevType" class="label">Tipo Receptor</label>
            <select selected="*" id="inputDevType" style="display:block;" class="form-control" fullWidth
              (change)="onReceptorTypeSelected($event.target.value)" [(ngModel)]="filterParams.tipoReceptor">
              <option value="PROMOTOR">Promotor</option>
              <option value="CLIENTE">Cliente</option>
              <option value="CONTACTO">Contacto</option>
            </select>
          </div>
          <div class="col-sm-5" *ngIf="filterParams.tipoReceptor == 'PROMOTOR'">
            <label for="inputPromotor" class="label">Promotor</label>
            <input id="inputPromotor" class="form-control" type="text" [(ngModel)]="filterParams.idReceptor" disabled
              placeholder="correo promotor">
          </div>
          <div class="col-sm-5" *ngIf="filterParams.tipoReceptor == 'CONTACTO'">
            <label for="inputContacto" class="label">Correo contacto</label>
            <select selected="*" id="inputContacto" style="display:block;" class="form-control" fullWidth [(ngModel)]="filterParams.idReceptor" (change)="searchDevolutionsData()">
              <option value="*">Seleccionar</option>
              <option *ngFor="let contacto of contactosCat" [value]="contacto">{{contacto}}</option>
            </select>
          </div>
          <div class="col-sm-5" *ngIf="filterParams.tipoReceptor == 'CLIENTE'">
            <label for="inputCliente" class="label">RFC cliente</label>
            <select selected="*" id="inputCliente" style="display:block;" class="form-control" fullWidth [(ngModel)]="filterParams.idReceptor" (change)="searchDevolutionsData()">
              <option value="*">Seleccionar</option>
              <option *ngFor="let client of clientsCat" [value]="client.informacionFiscal.rfc">{{client.informacionFiscal.rfc}} - {{client.informacionFiscal.razonSocial}}</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label for="inputSaldo" class="label">Saldo disponible</label>
              <div class="alert alert-success form-control" role="alert" style="width: 200px;">
                <p class="font-weight-bold">{{montoDevolucion | currency}}</p>
              </div>
          </div>

        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Solicitud devolución</nb-card-header>
      <nb-card-body>
        <form>
          <div class="form-row">
            <div class="form-group col-md-8">
              <label for="inputBenerficario" class="label">Beneficiario</label>
              <input type="text" class="form-control" id="inputBenerficario" placeholder="Nombre completo beneficiario" [(ngModel)]="solicitud.beneficiario" name="beneficiario_g">
            </div>
            <div class="form-group col-md-4">
              <label for="inputImporte" class="label"> Importe a solicitar</label>
              <input type="number" class="form-control" id="inputImporte" placeholder="Importe MXN" [(ngModel)]="solicitud.monto" name="monto">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="inputFormaPago" class="label">Forma de Pago</label>
              <select id="inputFormaPago" style="display:block;" class="form-control" [(ngModel)]="solicitud.formaPago" (change)="onPayFormSelected($event.target.value)" name="formapago">
                <option value="*">Seleccionar</option>
                <option value="EFECTIVO">Efectivo</option>
                <option value="CHEQUE">Cheque nominativo</option>
                <option value="TRANSFERENCIA">Transferencia electrónica de fondos</option>
                <option value="PAGO_MULTIPLE">Pago multiple</option>
                <option *ngIf="filterParams.tipoReceptor === 'CLIENTE'" value="FACTURA">Pago a factura</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputBanco" class="label">Banco</label>
              <select id="inputBanco" style="display:block;" class="form-control" [(ngModel)]="solicitud.banco" name="banco">
                <option value="N/A">No Aplica</option>
                <option *ngFor="let bank of banksCat" [value]="bank.nombre">{{bank.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputTypeRef" class="label">Tipo referencia</label>
              <select id="inputTypeRef" style="display:block;" class="form-control" [(ngModel)]="solicitud.tipoReferencia" name="tiporeferecnia">
                <option value="*">Seleccionar</option>
                <option *ngFor="let type of refTypesCat" [value]="type.id">{{type.nombre}}</option>
              </select>
            </div>
            <div class="form-group col-md-3">
              <label for="inputReferenciaDoc" class="label">Referencia</label>
              <input *ngIf="solicitud.formaPago!=='PAGO_MULTIPLE'" type="text" class="form-control" id="inputReferenciaDoc" placeholder="XXXX-XXXX-XXXX"
                [(ngModel)]="solicitud.referencia" name="referencia">
              <div *ngIf="solicitud.formaPago ==='PAGO_MULTIPLE'"  class="custom-file" id="refDoc">
                  <input  #fileInput type="file" class="custom-file-input" id="inputGroupFile01" accept=".xls,.xlsx" placeholder="Archivo referencia"
                    (change)="fileUploadListener($event)" style="display:block;"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputGroupFile01">{{filename}}</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="inputObservaciones" class="label">Observaciones/comentarios</label>
              <input type="text" class="form-control" id="inputObservaciones" [(ngModel)]="solicitud.comentarios" name="cometarios"
                placeholder="Observaciones o comentarios adicionales">
            </div>
          </div>
          <button nbButton status="primary" size="medium" (click)="devolutionRequest(solicitud)"  [nbSpinner]="loading" [disabled]="loading || montoDevolucion<=0"
              nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="">Solicitar Devolución</button>
        </form>
        <div class="alert alert-warning" *ngIf="messages.length > 0" role="alert">
          <p *ngFor="let message of messages">{{message}}</p>
        </div>
        <br>
        <strong>Devoluciones</strong>
        <div class="clearfix">

          <button type="button" (click)="downloadPagosDevolucion()" class="btn btn-success float-right">Descarga</button>
          <div *ngIf="pageDevolutions.empty" class="alert alert-primary" role="alert">
            No se encontraron resultados
          </div>
          <div class="table-responsive" *ngIf="!pageDevolutions.empty">
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center">Detalle</th>
                  <th scope="col" class="text-center">Folio Devolucion</th>
                  <th scope="col" class="text-center">Beneficiario</th>
                  <th scope="col" class="text-center">Importe</th>
                  <th scope="col" class="text-center">Forma de pago</th>
                  <th scope="col" class="text-center">Banco</th>
                  <th scope="col" class="text-center">Tipo Ref</th>
                  <th scope="col" class="text-center">Referencia</th>
                  <th scope="col" class="text-center">Estatus</th>
                  <th scope="col" class="text-center">Fecha solicitud</th>
                  <th scope="col" class="text-center">Fecha pago</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fila of pageDevolutions.content">
                  <td scope="row" class="text-center">
                    <button class="btn btn-outline-primary btn-sm"
                      (click)="openPaymentDetails(dialog,fila)"><i class="fa fa-search"></i></button>
                  </td>
                  <td scope="row" class="text-center">{{fila.id}}</td>
                  <td scope="row" class="text-center">{{fila.beneficiario}}</td>
                  <td scope="row" class="text-right">{{fila.monto | currency}}</td>
                  <td scope="row" class="text-center">{{fila.formaPago}}</td>
                  <td scope="row" class="text-center">{{fila.banco}}</td>
                  <td scope="row" class="text-center">{{fila.tipoReferencia}}</td>
                  <td scope="row" class="text-center">{{fila.referencia}}</td>
                  <td scope="row" class="text-center">{{fila.status}}</td>
                  <td scope="row" class="text-center">{{fila.fechaCreacion | date}}</td>
                  <td scope="row" class="text-center">{{fila.fechaPago | date}}</td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination" *ngIf="pageDevolutions.totalElements > 1">
              <li class="page-item" *ngIf="pageDevolutions.first==false"><button class="btn page-link"
                  (click)="updateDataTable(0,pageDevolutions.size)"><i class="nb-arrow-left"></i></button></li>
              <li class="page-item" *ngIf="pageDevolutions.first==false"><button class="btn page-link"
                  (click)="updateDataTable(pageDevolutions.number-1,pageDevolutions.size)">{{pageDevolutions.number}}</button></li>
              <li class="page-item active"><a class="page-link"><strong>{{pageDevolutions.number+1}}</strong></a></li>
              <li class="page-item" *ngIf="pageDevolutions.last==false"><button class="btn page-link"
                  (click)="updateDataTable(pageDevolutions.number+1,pageDevolutions.size)">{{pageDevolutions.number+2}}</button></li>
              <li class="page-item" *ngIf="pageDevolutions.last==false"><button class="btn page-link"
                  (click)="updateDataTable(pageDevolutions.totalPages-1,pageDevolutions.size)"><i class="nb-arrow-right"></i></button></li>
            </ul>
          </div>

        </div>


        <br>
        <strong>Últimas comisiones / reembolsos generados</strong>
        <div class="clearfix">

          <button type="button" (click)="downloadCommissions()" class="btn btn-success float-right">Descarga</button>
          <div *ngIf="pageCommissions.empty" class="alert alert-primary" role="alert">
            No se encontraron resultados
          </div>
          <div class="table-responsive" *ngIf="!pageCommissions.empty">

            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="text-center">Receptor</th>
                  <th scope="col" class="text-center">Folio Factura</th>
                  <th scope="col" class="text-center">Total factura</th>
                  <th scope="col" class="text-center">Impuestos</th>
                  <th scope="col" class="text-center">Porcentaje comisión</th>
                  <th scope="col" class="text-center">Comisión/Reembolso</th>
                  <th scope="col" class="text-center">Fecha creación</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let fila of pageCommissions.content">
                  <td scope="row" class="text-right">{{fila.receptor}}</td>
                  <td scope="row" class="text-center">
                    <button type="button" class="btn btn-small btn-outline-primary" (click)="downloadPdf(fila.folio)">
                      <i class="fa fa-file-pdf"></i>
                    </button>&nbsp;&nbsp;{{fila.folio}}
                  </td>
                  <td scope="row" class="text-right">{{fila.pagoMonto | currency}}</td>
                  <td scope="row" class="text-right">{{fila.impuesto | currency}}</td>
                  <td scope="row" class="text-right">{{fila.porcentaje/100 | percent}}</td>
                  <td scope="row" class="text-right">{{fila.monto | currency}}</td>
                  <td scope="row" class="text-right">{{fila.fechaCreacion}}</td>
                </tr>

              </tbody>
            </table>
            <ul class="pagination" *ngIf="pageCommissions.totalElements > 1">
              <li class="page-item" *ngIf="pageCommissions.first==false"><button class="btn page-link"
                  (click)="updateDataTable(0,pageCommissions.size)"><i class="nb-arrow-left"></i></button></li>
              <li class="page-item" *ngIf="pageCommissions.first==false"><button class="btn page-link"
                  (click)="updateDataTable(pageCommissions.number-1,pageCommissions.size)">{{pageCommissions.number}}</button></li>
              <li class="page-item active"><a class="page-link"><strong>{{pageCommissions.number+1}}</strong></a></li>
              <li class="page-item" *ngIf="pageCommissions.last==false"><button class="btn page-link"
                  (click)="updateDataTable(pageCommissions.number+1,pageCommissions.size)">{{pageCommissions.number+2}}</button></li>
              <li class="page-item" *ngIf="pageCommissions.last==false"><button class="btn page-link"
                  (click)="updateDataTable(pageCommissions.totalPages-1,pageCommissions.size)"><i class="nb-arrow-right"></i></button></li>
            </ul>
          </div>

        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>
      <div class="clearfix">
        <strong class="float-left">Detalles Devolucion</strong>
        <div class="float-right d-inline p-2 bg-primary text-white">{{data.status}}</div>
      </div>
    </nb-card-header>
    <nb-card-body>
      <div class="form-inline">
        <p class="font-weight-bold">Beneficiario</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.beneficiario}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">Monto</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.monto | currency}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">Forma de Pago</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.formaPago}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">{{data.tipoReferencia}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>{{data.referencia}}</p>
      </div>
      <div class="form-inline">
        <p class="font-weight-bold">Banco</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.banco}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">Solicitante</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.solicitante}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">Fecha Solicitud</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.fechaCreacion | date}}</p>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p class="font-weight-bold">Fecha Pago</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.fechaPago | date}}</p>
      </div>
      <div class="form-inline">
        <p class="font-weight-bold">Comentarios</p>
        &nbsp;&nbsp;&nbsp;
        <p>{{data.comentarios}}</p>
      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close()">Salir</button>
    </nb-card-footer>
  </nb-card>
</ng-template>