<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Devoluciones</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-sm-3">
                <label for="inputDevType" class="label">Tipo Receptor</label>
                
                  <select selected="*" id="inputDevType" style="display:block;" class="form-control" fullWidth
                    (change)="onReceptorTypeSelected($event.target.value)" [(ngModel)]="filterParams.tipoReceptor">
                    <option value="PROMOTOR">Mis Devoluciones</option>
                    <option value="CONTACTO">Por contacto</option>
                    <option value="CLIENTE">Por Cliente</option>
                  </select>
                
          </div>
          <div class="col-sm-3" *ngIf="filterParams.tipoReceptor == 'CONTACTO'">
            <label for="inputContacto" class="label">Correo contacto</label>
            <input id="inputContacto" class="form-control" type="text" [(ngModel)]="filterParams.idReceptor"
              fullWidth placeholder="correo contacto">
          </div>
          <div class="col-sm-3" *ngIf="filterParams.tipoReceptor == 'CLIENTE'">
              <label for="inputCliente" class="label">RFC cliente</label>
              <input id="inputCliente" class="form-control" type="text" [(ngModel)]="filterParams.idReceptor"
                fullWidth placeholder="RFC cliente">
          </div>
          <div class="col-sm-6">
            <label for="inputDevolutionStatus" class="label">Estatus devolucion</label>
            <div class="row form-inline">
              <select selected="*" id="inputDevolutionStatus" style="display:block;width: 300px;" class="form-control"
                (change)="onDevolutionStatusSelected($event.target.value)" [(ngModel)]="filterParams.statusDevolucion">
                <option value="POR SOLICITAR">Por solicitar</option>
                <option value="SOLICITUD">En solicitud</option>
                <option value="PAGADA">Pagadas</option>
              </select>
              <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <button class="btn btn-primary" (click)="updateDataTable()">BUSCAR</button>
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Reporte devoluciones</nb-card-header>
      <nb-card-body>

        <div *ngIf="devolutions.length < 1" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        <div class="table-responsive" *ngIf="devolutions.length > 0">
          <div class="clearfix">
            <strong>Resultados</strong>
            <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>
          </div>
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" class="text-center">Folio Factura</th>
                <th scope="col" class="text-center">Tipo Receptor</th>
                <th scope="col" class="text-center">Receptor</th>
                <th scope="col" class="text-center">Estatus</th>
                <th scope="col" class="text-center">Pago/Solicitud</th>
                <th scope="col" class="text-center">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of devolutions">
                <td scope="row" class="text-center"><button class="btn btn-outline-primary btn-sm" (click)= "redirectToCfdi(fila.folio)">{{fila.folio}}</button></td>
                <td scope="row" class="text-center">{{fila.tipoReceptor}}</td>
                <td scope="row" class="text-center">{{fila.receptor}}</td>
                <td scope="row" class="text-center">{{fila.statusDevolucion}}</td>
                <td scope="row" *ngIf="fila.idPagoDestino!=undefined" class="text-center">
                  <button class="btn btn-outline-primary btn-sm" (click)="redirectToPago(fila.idPago)"><i class="fa fa-search"></i></button>
                </td>
                <td scope="row" *ngIf="fila.idPagoDestino==undefined" class="text-center">
                  <button class="btn btn-sm btn-outline-primary" *ngIf="!fila.solicitud" (click)="addDevolucion(fila)"><i class="fa fa-square"></i></button> 
                  <button class="btn btn-sm btn-outline-primary" *ngIf="fila.solicitud"  (click)="addDevolucion(fila)"><i class="fa fa-check-square"></i></button>  
                </td>
                <td scope="row" class="text-right">{{fila.monto | currency}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="row" *ngIf="solicitud.devoluciones.length > 0">
          <div class="col-sm-1">
            <label for="inputPayCoin" class="label">Moneda</label>
            <select selected="*" id="inputPayCoin" style="display:block;" class="form-control"
              [(ngModel)]="solicitud.moneda">
              <option value="MXN">Peso MXN</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputPayType" class="label">Forma de Pago</label>
            <select selected="1" id="inputPayType" style="display:block;" class="form-control"
              [(ngModel)]="solicitud.formaPago">
              <option value="CHEQUE">Cheque nominativo</option>
              <option value="TRANSFERENCIA">Transferencia electrónica de fondos</option>
              <option value="DEPOSITO">Deposito bancario</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputPayType" class="label">Banco receptor</label>
            <select selected="1" id="inputPayType" style="display:block;" class="form-control"
              [(ngModel)]="solicitud.banco" >
              <option value="BBVA">BBVA</option>
              <option value="HSBC">HSBC</option>
              <option value="BANORTE">BANORTE</option>
              <option value="BANAMEX">BANAMEX</option>
              <option value="N/A">NO APLICA</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="accountAmmount" class="label">Cuenta/CLABE</label>
            <input id="accountAmmount" class="form-control" fullWidth type="text"  placeholder="Cuenta receptora"
              [(ngModel)]="solicitud.cuenta">
          </div>
          <div class="col-sm-3">
            <label for="accountOwner" class="label">Nombre Beneficiario</label>
            <input id="accountOwner" class="form-control" fullWidth type="text"  placeholder="Nombre Beneficiario"
              [(ngModel)]="solicitud.beneficiario">
          </div>
          <div class="col-sm-2">
            <label for="payAmmount" class="label">Monto Pago</label>
            <div class="input-group">
              <strong>{{montoDevolucion | currency}}</strong>
              &nbsp;&nbsp;
              <button class="btn btn-sm btn-success" (click)= "solicitudDevoluciones()">Solicitar Devolucion</button>
            </div>
            
          </div>
          
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>