<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Pre CFDI</nb-card-header>
      <nb-card-body>

         
        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="Folio">
          <button type="button" nbButton status="primary">BUSCAR</button>
          <button type="button" nbButton status="primary">REGISTRO</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-body>
        <nb-stepper orientation="horizontal">
          <nb-step [label]="labelOne">
            <ng-template #labelOne>Registro</ng-template>
            <h3>Registro / Modificacion</h3>
            <br>
            <div class="row">
              <div class="col-md-1">
                <label for="inputGiro" class="label">Giro</label>
              </div>
              <div class="col-md-3">
                <nb-select selected="1" id="inputGiro" style="width: 100%">
                  <nb-option value="1">ADMINISTRATIVA Y/O PRESTADORA DE SERVICIO</nb-option>
                  <nb-option value="2">COMERCIALIZADORA</nb-option>
                  <nb-option value="3">CONSTRUCTORA</nb-option>
                </nb-select>
              </div>
              <div class="col-md-1">
                <label for="inputEmpresa" class="label">Empresa</label>
              </div>
              <div class="col-md-3">
                <nb-select selected="1" id="inputGiro">
                  <nb-option value="1">EMPRESA 1 SA de CV</nb-option>
                  <nb-option value="2">EMPRESA 2 SA de CV</nb-option>
                  <nb-option value="3">EMPRESA 3 SA de CV</nb-option>
                </nb-select>
              </div>
              <div class="col-md-2">
                <label for="inputTipo" class="label">Tipo Documento</label>
              </div>
              <div class="col-sm-2">
                <nb-select selected="1" id="inputTipo">
                  <nb-option value="1">FACTURA</nb-option>
                  <nb-option value="2">NOTA</nb-option>
                  <nb-option value="3">OTRO</nb-option>
                </nb-select>
              </div>
            </div>
            <br>
            <label for="inputTipo" class="label">Cliente</label>
            <div class="row form-inline">
              <input type="text" nbInput fullWidth placeholder="RFC">
              <button type="button" nbButton status="primary">BUSCAR</button>
            </div>
            <label for="inputTipo" class="label">EMC001125HF5 Empresa cliente SA. de CV</label>
            <br>
            <h6>Conceptos factura</h6>
            <div class="row form-inline">
              <label for="inputClaveProd" class="label">Clave Producto</label>
              <input id="inputClaveProd" nbInput fullWidth type="number" placeholder="Clave Producto">
              <button nbButton (click)="openBuscadorSAT(dialog)">BUSCADOR SAT</button>
              <label for="inputunidad" class="label">Unidad Medida</label>
              <nb-select selected="H87" id="inputunidad">
                <nb-option value="H87">Pieza</nb-option>
                <nb-option value="EA">Elemento</nb-option>
                <nb-option value="E48">Unidad de Servicio</nb-option>
                <nb-option value="ACT">Actividad</nb-option>
                <nb-option value="KGM">Kilogramo</nb-option>
                <nb-option value="E51">Trabajo</nb-option>
                <nb-option value="A9">Tarifa</nb-option>
                <nb-option value="MTR">Metro</nb-option>
                <nb-option value="AB">Paquete a granel</nb-option>
                <nb-option value="BB">Caja base</nb-option>
                <nb-option value="KT">Kit</nb-option>
                <nb-option value="SET">Conjunto</nb-option>
                <nb-option value="LTR">Litro</nb-option>
                <nb-option value="XBX">Caja</nb-option>
                <nb-option value="MON">Mes</nb-option>
                <nb-option value="HUR">Hora</nb-option>
                <nb-option value="MTK">Metro cuadrado</nb-option>
                <nb-option value="11">Equipos</nb-option>
                <nb-option value="MGM">Miligramo</nb-option>
                <nb-option value="XPK">Paquete</nb-option>
                <nb-option value="XKI">Kit (Conjunto de piezas)</nb-option>
                <nb-option value="AS">Variedad</nb-option>
                <nb-option value="GRM">Gramo</nb-option>
                <nb-option value="PR">Par</nb-option>
                <nb-option value="DPC">Docenas de piezas</nb-option>
                <nb-option value="xun">Unidad</nb-option>
                <nb-option value="DAY">Día</nb-option>
                <nb-option value="XLT">Lote</nb-option>
                <nb-option value="10">Grupos</nb-option>
                <nb-option value="MLT">Mililitro</nb-option>
                <nb-option value="E54">Viaje</nb-option>

              </nb-select>
              <label for="inputCantidad" class="label">Cantidad</label>
              <input id="inputCantidad" nbInput fullWidth type="number" placeholder="Cantidad">
            </div>

            <div class="row form-inline">
                <label for="inputPrecio" class="label">Precio Unitario</label>
                <input id="inputPrecio" nbInput fullWidth type="number" placeholder="Precio Unitario">
                
                <label for="inputIVA" class="label">IVA</label>
                <nb-select selected="1" id="inputIVA">
                  <nb-option value="1">16%</nb-option>
                  <nb-option value="2">10%</nb-option>
                </nb-select>
                <label for="inputDesc" class="label">Descripcion</label>
                <input id="inputDesc" nbInput fullWidth type="text" placeholder="Descripcion">

                <button nbButton >AGREGAR</button>
            </div>
            <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
            </ng2-smart-table>
            <br>
            <div class="row form-inline">
                <button type="button" nbButton status="primary">SOLICITAR VALIDACION</button>
                <button type="button" nbButton status="primary">CANCELAR</button>
            </div>
              <br>
              <br>
            <button nbButton disabled nbStepperNext>PREVIO</button>
            <button nbButton nbStepperNext>SIGUIENTE</button>
          </nb-step>
          <nb-step [label]="labelTwo">
            <ng-template #labelTwo>Pago</ng-template>
            <h3>Pago</h3>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                      <label for="inputCoin" class="label">Moneda</label>
                      <nb-select selected="MXN" id="inputCoin" fullWidth>
                          <nb-option value="MXN">PESOS MXN</nb-option>
                          <nb-option value="USD">DOLAR USD</nb-option>
                        </nb-select>
                    </div>
                  </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="inputPayForm" class="label">Forma de pago</label>
                        <nb-select selected="1" fullWidth id="inputPayForm">
                            <nb-option value="1">EFECTIVO</nb-option>
                            <nb-option value="2">TRANSFERENCIA ELECTRONICA</nb-option>
                            <nb-option value="2">CHEQUE</nb-option>
                          </nb-select>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label for="inputPayMethod" class="label">Metodo de pago</label>
                        <nb-select selected="1" fullWidth id="inputPayMethod">
                            <nb-option value="1">PAGO EN UNA SOLA EXHIBICION</nb-option>
                        </nb-select>
                      </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                          <label for="inputPayRef" class="label">Referencia de Pago</label>
                          <input type="text" nbInput fullWidth id="inputPayRef" placeholder="Referencia de pago">
                        </div>
                    </div>
            </div>
            <br>
            <div class="row form-inline">
                <button type="button" nbButton status="primary">GUARDAR</button>
                <button type="button" nbButton status="primary">ACTUALIZAR</button>
            </div>
            <br>
            <br>
            <button nbButton nbStepperPrevious>PREVIO</button>
            <button nbButton nbStepperNext>SIGUIENTE</button>
          </nb-step>
          <nb-step [label]="labelThree">
            <ng-template #labelThree>Validacion</ng-template>
            <h3>Validacion</h3>
            <br>
            <div class="row">
                <div class="colors col-md-6">
                    <div class="item text-success">
                      <div class="color bg-status-success"></div>
                      <div>
                        <h5 class="text-success">Aceptado</h5>
                        El CFDI fue aceptado.
                      </div>
                    </div>
                    <div class="item text-info">
                      <div class="color bg-status-info"></div>
                      <div>
                        <h5 class="text-info">En validacion</h5>
                        El CFDI esta siendo validado por el area de operaciones.
                      </div>
                    </div>
                    <div class="item text-warning">
                      <div class="color bg-status-warning"></div>
                      <div>
                        <h5 class="text-warning">Solicitud de cambios</h5>
                        El area de Operaciones require cambios.
                      </div>
                    </div>
                    <div class="item text-danger">
                      <div class="color bg-status-danger"></div>
                      <div>
                        <h5 class="text-danger">Rechazado</h5>
                        El CFDi fue rechazado.
                      </div>
                    </div>
                </div>
                <div class="colors col-md-6">
                    <div class="item text-success">
                        <div class="color bg-status-success"></div>
                        <div>
                          <h5 class="text-success">Pago Validado</h5>
                          El pago ha sido validado.
                        </div>
                      </div>
                      <div class="item text-info">
                        <div class="color bg-status-info"></div>
                        <div>
                          <h5 class="text-info">En validacion</h5>
                          El pago esta  siendo validado por el area de tesosreria.
                        </div>
                      </div>
                      <div class="item text-warning">
                        <div class="color bg-status-warning"></div>
                        <div>
                          <h5 class="text-warning">Referencia invalida</h5>
                          Existe una referencia de pago no valida.
                        </div>
                      </div>
                      <div class="item text-danger">
                        <div class="color bg-status-danger"></div>
                        <div>
                          <h5 class="text-danger">Sin pago registrado</h5>
                          No existe evidencia de pago.
                        </div>
                      </div>
                </div>
            </div>
            
            <button nbButton nbStepperPrevious>PREVIO</button>
            <button nbButton disabled nbStepperNext>SIGUIENTE</button>
          </nb-step>
        </nb-stepper>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Buscador SAT</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="inputTipo" class="label">Tipo</label>
            <nb-select selected="1" id="inputTipo">
              <nb-option value="1">Productos</nb-option>
              <nb-option value="2">Servicios</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label for="inputDivision" class="label">División</label>

            <nb-select selected="52" id="inputDivision">
              <nb-option value="50">Alimentos, Bebidas y Tabaco</nb-option>
              <nb-option value="52">Art&#237;culos Dom&#233;sticos, Suministros y Productos Electr&#243;nicos de Consumo
              </nb-option>
              <nb-option value="40">Componentes y Equipos para Distribuci&#243;n y Sistemas de Acondicionamiento
              </nb-option>
              <nb-option value="31">Componentes y Suministros de Manufactura</nb-option>
              <nb-option value="32">Componentes y Suministros Electr&#243;nicos</nb-option>
              <nb-option value="30">Componentes y Suministros para Estructuras, Edificaci&#243;n, Construcci&#243;n y
                Obras Civiles</nb-option>
              <nb-option value="39">Componentes, Accesorios y Suministros de Sistemas El&#233;ctricos e Iluminaci&#243;n
              </nb-option>
              <nb-option value="43">Difusi&#243;n de Tecnolog&#237;as de Informaci&#243;n y Telecomunicaciones
              </nb-option>
              <nb-option value="42">Equipo M&#233;dico, Accesorios y Suministros</nb-option>
              <nb-option value="47">Equipos de Limpieza y Suministros</nb-option>
              <nb-option value="44">Equipos de Oficina, Accesorios y Suministros</nb-option>
              <nb-option value="46">Equipos y Suministros de Defensa, Orden Publico, Proteccion, Vigilancia y Seguridad
              </nb-option>
              <nb-option value="41">Equipos y Suministros de Laboratorio, de Medici&#243;n, de Observaci&#243;n y de
                Pruebas</nb-option>
              <nb-option value="45">Equipos y Suministros para Impresi&#243;n, Fotografia y Audiovisuales</nb-option>
              <nb-option value="49">Equipos, Suministros y Accesorios para Deportes y Recreaci&#243;n</nb-option>
              <nb-option value="27">Herramientas y Maquinaria General</nb-option>
              <nb-option value="64">Instrumentos financieros, productos, contratos y acuerdos</nb-option>
              <nb-option value="60">Instrumentos Musicales, Juegos, Juguetes, Artes, Artesan&#237;as y Equipo educativo,
                Materiales, Accesorios y Suministros</nb-option>
              <nb-option value="20">Maquinaria y Accesorios de Miner&#237;a y Perforaci&#243;n de Pozos</nb-option>
              <nb-option value="21">Maquinaria y Accesorios para Agricultura, Pesca, Silvicultura y Fauna</nb-option>
              <nb-option value="22">Maquinaria y Accesorios para Construcci&#243;n y Edificaci&#243;n</nb-option>
              <nb-option value="26">Maquinaria y Accesorios para Generaci&#243;n y Distribuci&#243;n de Energ&#237;a
              </nb-option>
              <nb-option value="23">Maquinaria y Accesorios para Manufactura y Procesamiento Industrial</nb-option>
              <nb-option value="24">Maquinaria, Accesorios y Suministros para Manejo, Acondicionamiento y Almacenamiento
                de Materiales</nb-option>
              <nb-option value="48">Maquinaria, Equipo y Suministros para la Industria de Servicios</nb-option>
              <nb-option value="11">Material Mineral, Textil y Vegetal y Animal No Comestible</nb-option>
              <nb-option value="12">Material Qu&#237;mico incluyendo Bioqu&#237;micos y Materiales de Gas</nb-option>
              <nb-option value="10">Material Vivo Vegetal y Animal, Accesorios y Suministros</nb-option>
              <nb-option value="15">Materiales Combustibles, Aditivos para Combustibles, Lubricantes y Anticorrosivos
              </nb-option>
              <nb-option value="13">Materiales de Resina, Colofonia, Caucho, Espuma, Pel&#237;cula y Elast&#243;mericos
              </nb-option>
              <nb-option value="14">Materiales y Productos de Papel</nb-option>
              <nb-option value="51">Medicamentos y Productos Farmac&#233;uticos</nb-option>
              <nb-option value="56">Muebles, Mobiliario y Decoraci&#243;n</nb-option>
              <nb-option value="54">Productos para Relojer&#237;a, Joyer&#237;a y Piedras Preciosas</nb-option>
              <nb-option value="55">Publicaciones Impresas, Publicaciones Electr&#243;nicas y Accesorios</nb-option>
              <nb-option value="53">Ropa, Maletas y Productos de Aseo Personal</nb-option>
              <nb-option value="95">Terrenos, Edificios, Estructuras y V&#237;as</nb-option>
              <nb-option value="25">Veh&#237;culos Comerciales, Militares y Particulares, Accesorios y Componentes
              </nb-option>
            </nb-select>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputGrupo" class="label">Grupo</label>

            <nb-select selected="4110" id="inputGrupo">
              <nb-option value="4110">Equipo de laboratorio y cient&#237;fico</nb-option>
              <nb-option value="4111">Instrumentos de medida, observaci&#243;n y ensayo</nb-option>
              <nb-option value="4112">Suministros y accesorios de laboratorio</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="inputClase" class="label">Clase</label>
            <nb-select selected="4110" id="inputClase">
              <nb-option value="4110">Equipo de laboratorio y cient&#237;fico</nb-option>
              <nb-option value="4111">Instrumentos de medida, observaci&#243;n y ensayo</nb-option>
              <nb-option value="4112">Suministros y accesorios de laboratorio</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>