@import '../../../@theme/styles/themes';

nb-checkbox {
    margin-bottom: 1rem;
  }
  
  .form-inline [fullWidth] {
    flex: 1;
  }
  
  .form-inline > * {
    margin: 0 1.5rem 1.5rem 0;
  }
  
  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  
  :host ::ng-deep nb-stepper .step-content {
    text-align: left;
  
    button {
      cursor: pointer;
      margin: 0.5rem;
    }
  }

  .colors {
    display: flex;
    flex-direction: column;

    .item {
      display: flex;
      align-items: center;
      margin-bottom: 1.25rem;
      &:last-child {
        margin-bottom: 0;
      }
    }

    .color {
      width: 86px;
      height: 60px;
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 1rem;
      @include nb-ltr(margin-right, 1rem);
      @include nb-rtl(margin-left, 1rem);
    }

    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 0.25rem;
    }
  }

  @each $status in nb-get-statuses() {
    .bg-status-#{$status} {
      background: nb-theme(text-#{$status}-color);
    }
  }
 
  
/*   .roll-in-blurred-right {
   -webkit-animation: slide-in-blurred-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
	        animation: slide-in-blurred-right 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s both;
  }

 @-webkit-keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(300px) rotate(720deg);
            transform: translateX(300px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes roll-in-blurred-right {
  0% {
    -webkit-transform: translateX(300px) rotate(720deg);
            transform: translateX(300px) rotate(720deg);
    -webkit-filter: blur(50px);
            filter: blur(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}








.swing-in-left-fwd {
	-webkit-animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5 both;
	        animation: swing-in-left-fwd 1.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) 0.5 both;
}

 @-webkit-keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
}
@keyframes swing-in-left-fwd {
  0% {
    -webkit-transform: rotateY(100deg);
            transform: rotateY(100deg);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    -webkit-transform-origin: left;
            transform-origin: left;
    opacity: 1;
  }
} */

