<div class="row slide_2">
  <div class="col-md-12 ">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-header>
        <div class="clearfix" *ngIf="preFolio !== '*'">
          <p class="h6 float-left puff_center">CFDI Promotor</p> <span class="badge badge-primary" style="margin-left: 10px;" 
          *ngIf="factura" >{{factura.statusFactura}}</span>
          <button nbButton status="success" size="small" (click)="revalidateInvoice()" [nbSpinner]="loading" class="float-right puff_center"
              [disabled]="loading" nbSpinnerStatus="success"  *ngIf="factura.statusFactura.indexOf('Rechazo')===0"
              nbSpinnerSize="small" nbSpinnerMessage="">
               revalidar Factura<i class="fa fa-check" style="margin-left: 10px;"></i>
          </button>
          <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="downloadPdf(factura.folio)">
            <i class="fa fa-file-pdf"></i>
          </button>
          <button type="button" *ngIf="factura.statusFactura == 'Timbrada'"
            class="btn btn-sm btn-outline-primary float-right" (click)="downloadXml(factura.folio)">
            <i class="fa fa-code"></i>
          </button>
        </div>
        <p *ngIf="preFolio == '*'" class="h6 float-left ">Pre Cfdi</p>
      </nb-card-header>
      <nb-card-body >
        <div class="slide_1" *ngIf="preFolio === '*' " >
          <p class="font-weight-bold ">Información Emisor y Receptor</p>
          <div class="row">
            
            <div class="col-sm-3">
              <div class="form-group ">
                <label for="inputGiro" class="label">Giro Empresa</label>
                <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                  style="display:block;" [(ngModel)]="formInfo.giro">
                  <option value="*">Seleccionar</option>
                  <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label for="inputEmpresa" class="label">Empresa</label>
              <select id="inputEmpresa" class="form-control" (change)="onCompanySelected($event.target.value)"
                [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth [disabled]="companiesCat.length === 0">
                <option value="*">Seleccionar</option>
                <option *ngFor="let company of companiesCat" [(value)]="company.id">
                  {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="inputCliente" class="label">Razón social</label>
              <div class=""  >
                <input type="text" [(ngModel)]="formInfo.clientName"  
                class="form-control" fullWidth (ngModelChange)="buscarClientInfo($event)" placeholder="Razón social">
              </div>
            </div>
            <div class="col-md-3">
              <label for="inputClient" class="label">Cliente</label>
              <select id="inputClient" class="form-control" (change)="onClientSelected($event.target.value)"
                [(ngModel)]="formInfo.clientRfc" style="display:block;" fullWidth [disabled]="clientsCat.length === 0">
                <option value="*">Seleccionar</option>
                <option *ngFor="let client of clientsCat" [(value)]="client.id">
                  {{client.informacionFiscal.rfc}}-{{client.informacionFiscal.razonSocial}}
                </option>
              </select>
              <small id="inputProdServHelp" class="form-text text-danger">{{clientSearchMsg}}</small>
            </div>
          </div>
        </div>
      
          <ngx-cfdi  [(cfdi)]="factura.cfdi" [pagos]="pagosCfdi" [module] = "'P'" (cfdiEvent)="getInvoiceInfoByIdCdfi($event)"
            [allowEdit]="factura.tipoDocumento !== 'Complemento' && (factura.folio === undefined || factura.statusFactura=='Validacion operaciones' || factura.statusFactura=='Validacion tesoreria')">
          </ngx-cfdi>
          
          <div class="row" *ngIf="factura.cfdi && factura.statusDetail && factura.statusDetail.length > 0">
            <div class="col-sm-12">
              <label for="inputdesc" class="label">Descripción Rechazo CFDI</label>
              <div class="alert alert-danger" role="alert">
                {{factura.statusDetail}}
              </div>
            </div>
          </div>
        
        <br>

        <div class="row slide_3" *ngIf="factura.idCfdi === undefined">
          <button nbButton status="success" size="medium" (click)="solicitarCfdi(factura,dialog)" [nbSpinner]="loading"
            [disabled]="loading" nbSpinnerStatus="success" nbSpinnerSize="small" nbSpinnerMessage="">
            SOLICITAR CFDI
          </button>
         <!--  <button type="button" class="btn btn-info" (click)="limpiarForma()">LIMPIAR</button> -->
        </div>
        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>
        <div class="alert alert-success" *ngIf="successMessage!=undefined" role="alert">
          {{successMessage}}
        </div>
        <br>
        
        <div *ngIf="factura.folio!=undefined && (factura.statusFactura!='Rechazo Operaciones' && factura.statusFactura!='Cancelada')">
          <ngx-pago-factura [factura]="factura" [user]="user" (myEvent)="getInvoiceInfoByIdCdfi($event)"></ngx-pago-factura>
        </div>
      

      </nb-card-body>
    </nb-card>
  </div>
</div>