<!--div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Pre CFDI</nb-card-header>
      <nb-card-body>


        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="Folio">
          <button type="button" nbButton status="primary">BUSCAR</button>
          <button type="button" nbButton status="primary">REGISTRO</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div-->

<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-header>Registro CFDI</nb-card-header>
      <nb-card-body>
        <p class="font-weight-bold">Información Emisor y Receptor</p>

        <div class="row">

          <div class="col-sm-4">
            <div class="form-group">
              <label for="inputGiro" class="label">Giro Empresa</label>
              <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                style="display:block;" [(ngModel)]="formInfo.giro">
                <option value="*">Seleccionar</option>
                <option *ngFor="let giro of girosCat" [(value)]="giro.clave">{{giro.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <label for="inputEmpresa" class="label">Empresa</label>
            <select id="inputEmpresa" class="form-control" (change)="onCompanySelected($event.target.value)"
              [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth>
              <option value="*">Seleccionar</option>
              <option *ngFor="let company of companiesCat" [(value)]="company.id">{{company.informacionFiscal.nombre}}
              </option>
            </select>
          </div>
          <div class="col-md-4">
            <label for="inputCliente" class="label">RFC cliente</label>
            <div class="row form-inline">
              <input type="text" [(ngModel)]="formInfo.clientRfc" fullWidth class="form-control"
                placeholder="RFC CLIENTE">
              <button type="button" nbButton status="primary" (click)="buscarClientInfo()">BUSCAR</button>
            </div>
            <!-- #rfc="ngModel" required minlength="12" maxlength="13"
                  
                  div *ngIf="rfc.invalid && (rfc.dirty || rfc.touched)" class="alert alert-danger">
                  <div *ngIf="rfc.errors.required">
                    RFC cliente requerido
                  </div>
                  <div *ngIf="rfc.errors.minlength">
                    El RFC debe de contener entre 12 y 13 digitos
                  </div>
                </div-->
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>
        <div class="alert alert-info" *ngIf="clientInfo!=undefined" role="alert">
          {{clientInfo.rfc}} - {{clientInfo.razonSocial}}
        </div>
        <br>
        <p class="font-weight-bold">Información CFDI</p>
        <div class="row">
          <div class="col-sm-2">
            <label for="inputDocType" class="label">Tipo documento</label>
            <select id="inputDocType" class="form-control" fullWidth>
              <option>FACTURA</option>
            </select>
          </div>
          <div class="col-sm-4">
            <label for="inputPaytype" class="label">Uso CFDI</label>
            <select selected="1" id="inputPaytype" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.usoCfdi" (change)="onUsoCfdiSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option *ngFor="let clave of usoCfdiCat" [(value)]="clave.clave">{{clave.descripcion}}</option>
            </select>
          </div>
          <div class="col-sm-1">
            <label for="inputCoin" class="label">Moneda</label>
            <select selected="1" id="inputCoin" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.moneda" (change)="onMonedaSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="MXN">Peso MX</option>
              <option value="USD">Dollar US</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="inputPayMethod" class="label">Metodo de Pago</label>
            <select selected="1" id="inputPayMethod" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.payMethod" (change)="onMetodoDePagoSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="PUE">Pago en una sola exhibición</option>
              <option value="PPD">Pago en parcialidades o diferido</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputPaytype" class="label">Forma de Pago</label>
            <select selected="1" id="inputPaytype" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.payType" (change)="onFormaDePagoSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="001">Efectivo</option>
              <option value="002">Cheque nominativo</option>
              <option value="003">Transferencia electrónica de fondos</option>
            </select>
          </div>

        </div>


        <br>
        <p class="font-weight-bold">Conceptos factura</p>

        <div class="row">
          <div class="col-sm-4">
            <label for="inputProdServ" class="label">Palabra clave producto servicio</label>
            <div class="form-inline">
              <input id="inputProdServ" class="form-control" fullWidth type="text" [(ngModel)]="formInfo.claveProdServ"
                placeholder="palabra clave producto servicio">
              <button class="btn btn-primary" (click)="buscarClaveProdServSelected()">Buscar</button>
            </div>
          </div>
          <div class="col-sm-2" *ngIf="prodServCat.length>0">
            <label for="inputProdServ" class="label">Selección clave producto servicio</label>
            <select id="inputProdServ" fullWidth class="form-control" [(ngModel)]="formInfo.prodServ"
              (change)="onClaveProdServSelected($event.target.value)" style="display:block;">
              <option value="*">Seleccionar</option>
              <option *ngFor="let clave of prodServCat" [(value)]="clave.clave">{{clave.descripcion}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label for="inputdesc" class="label">Descripción</label>
            <input id="inputdesc" class="form-control" fullWidth type="text" [(ngModel)]="newConcep.descripcion"
              placeholder="Descripción del producto">
          </div>

        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="inputunidad" class="label">Unidad Medida</label>
            <select id="inputunidad" style="display:block;" class="form-control" [(ngModel)]="formInfo.unidad"
              (change)="onSelectUnidad($event.target.value)">
              <option value="*">Seleccionar</option>
              <option *ngFor="let clave of claveUnidadCat" [(value)]="clave.clave">{{clave.nombre}}</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputCantidad" class="label">Cantidad</label>
            <input id="inputCantidad" class="form-control" fullWidth type="number" placeholder="Cantidad"
              [(ngModel)]="newConcep.cantidad">
          </div>
          <div class="col-sm-2">
            <label for="inputPrecio" class="label">Precio Unitario</label>
            <input id="inputPrecio" class="form-control" fullWidth type="number" placeholder="Precio Unitario"
              [(ngModel)]="newConcep.valorUnitario">
          </div>
          <!--div class="col-sm-2">
                <label for="inputDescuento" class="label">Descuento</label>
                <input id="inputDescuento" class="form-control" fullWidth type="number" placeholder="Descuento aplicado"
                  [(ngModel)]="newConcep.descuento">
              </div-->
          <div class="col-sm-4">
            <label for="inputImpuesto" class="label">Impuesto</label>

            <div class="row form-inline">
              <select selected="1" id="inputImpuesto" style="display:block;width: 150px;" class="form-control">
                <!--option value="*">Seleccionar</option-->
                <!--option value="001">ISR</option-->
                <option value="002">IVA</option>
                <!--option value="003">IEPS</option-->
              </select>
              <button class="btn btn-success" (click)="agregarConcepto()">Agregar Concepto</button>
            </div>
          </div>

        </div>
        <div class="alert alert-warning" *ngIf="conceptoMessages.length > 0" role="alert">
          <p *ngFor="let conceptMessage of conceptoMessages">{{conceptMessage}}</p>
        </div>


        <br>
        <!--TABLA CONCEPTOS-->
        <table class="table" *ngIf="factura.cfdi.conceptos.length>0">
          <thead class="thead-light">
            <tr>
              <th scope="col" *ngFor="let header of headers">{{header}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fila of factura.cfdi.conceptos">
              <td scope="row">{{fila.claveProdServ}}</td>
              <td scope="row">{{fila.cantidad}}</td>
              <td scope="row">{{fila.claveUnidad}}</td>
              <td scope="row">{{fila.unidad}}</td>
              <td scope="row">{{fila.descripcion}}</td>
              <td scope="row">{{fila.valorUnitario | currency}}</td>
              <td scope="row">{{getImporteImpuestos(fila.impuestos) | currency}}</td>
              <td scope="row">{{fila.importe | currency}}</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>Subtotal</td>
              <td>{{factura.cfdi.subtotal | currency}}</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>Impuestos</td>
              <td>{{factura.cfdi.impuestos | currency}}</td>
            </tr>
            <tr>
              <td colspan="6"></td>
              <td>Total</td>
              <td>{{factura.cfdi.total | currency}}</td>
            </tr>
          </tbody>
        </table>
        <br>

        <div class="form-inline">
          <button type="button" class="btn btn-success" (click)="solicitarCfdi()">SOLICITAR CFDI</button>
          <button type="button" class="btn btn-info" (click)="limpiarForma()">LIMPIAR</button>
        </div>
        <br>
        <div class="alert alert-success" *ngIf="factura.folio!=undefined" role="alert">
          La solicitus del CFDI ha sido generada correctamente con el folio {{factura.folio}}
        </div>

        <p class="font-weight-bold">Pago CFDI</p>
        <br>
        <div class="row">
          <div class="col-sm-1">
            <label for="inputPayCoin" class="label">Moneda</label>
            <select selected="*" id="inputPayCoin" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.moneda" (change)="onMonedaSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="MXN">Peso MX</option>
              <option value="USD">Dollar US</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="inputPayType" class="label">Forma de Pago</label>
            <select selected="1" id="inputPayType" style="display:block;" class="form-control"
              [(ngModel)]="formInfo.payType" (change)="onFormaDePagoSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="001">Efectivo</option>
              <option value="002">Cheque nominativo</option>
              <option value="003">Transferencia electrónica de fondos</option>
            </select>
          </div>
          <div class="col-sm-2">
            <label for="payAmmount" class="label">Monto Pago</label>
            <input id="payAmmount" class="form-control" fullWidth type="number" placeholder="Cantidad"
              [(ngModel)]="newConcep.cantidad">
          </div>
          <div class="col-md-3">
            <label for="payAmmount" class="label">Fecha de pago</label>
            <input nbInput placeholder="Form Picker" [nbDatepicker]="formpicker" fullWidth style="display:block;">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="form-group col-md-3">
              <label for="payFile" class="label">Comprobante de pago</label>
              <div class="input-group">
                  <!--div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01">Comprobante</span>
                  </div-->
                  <div class="custom-file" id="payFile">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="fileUploadListener($event)" style="display:block;"
                      aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">{{filename}}</label>
                  </div>
              </div>

            <!--label for="payFile" class="label">Comprobante de pago</label>
            <input type="file" class="form-control-file form-control" (change)="fileUploadListener($event)" id="payFile"-->
        </div>
          
      </div>
        <br>
        <div class="row form-inline">
          <button type="button" nbButton status="primary">GUARDAR</button>
          <button type="button" nbButton status="primary">ACTUALIZAR</button>
        </div>
        <br>
        <br>


        <!--div class="row">
              <div class="colors col-md-6">
                <div class="item text-success">
                  <div class="color bg-status-success"></div>
                  <div>
                    <h5 class="text-success">Aceptado</h5>
                    El CFDI fue aceptado.
                  </div>
                </div>
                <div class="item text-info">
                  <div class="color bg-status-info"></div>
                  <div>
                    <h5 class="text-info">En validacion</h5>
                    El CFDI esta siendo validado por el area de operaciones.
                  </div>
                </div>
                <div class="item text-warning">
                  <div class="color bg-status-warning"></div>
                  <div>
                    <h5 class="text-warning">Solicitud de cambios</h5>
                    El area de Operaciones require cambios.
                  </div>
                </div>
                <div class="item text-danger">
                  <div class="color bg-status-danger"></div>
                  <div>
                    <h5 class="text-danger">Rechazado</h5>
                    El CFDi fue rechazado.
                  </div>
                </div>
              </div>
              <div class="colors col-md-6">
                <div class="item text-success">
                  <div class="color bg-status-success"></div>
                  <div>
                    <h5 class="text-success">Pago Validado</h5>
                    El pago ha sido validado.
                  </div>
                </div>
                <div class="item text-info">
                  <div class="color bg-status-info"></div>
                  <div>
                    <h5 class="text-info">En validacion</h5>
                    El pago esta siendo validado por el area de tesosreria.
                  </div>
                </div>
                <div class="item text-warning">
                  <div class="color bg-status-warning"></div>
                  <div>
                    <h5 class="text-warning">Referencia invalida</h5>
                    Existe una referencia de pago no valida.
                  </div>
                </div>
                <div class="item text-danger">
                  <div class="color bg-status-danger"></div>
                  <div>
                    <h5 class="text-danger">Sin pago registrado</h5>
                    No existe evidencia de pago.
                  </div>
                </div>
              </div>
            </div-->
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Buscador SAT</nb-card-header>
    <nb-card-body>
      <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="inputTipo" class="label">Tipo</label>
            <nb-select selected="1" id="inputTipo">
              <nb-option value="1">Productos</nb-option>
              <nb-option value="2">Servicios</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <label for="inputDivision" class="label">División</label>

            <nb-select selected="52" id="inputDivision">
              <nb-option value="50">Alimentos, Bebidas y Tabaco</nb-option>
              <nb-option value="52">Art&#237;culos Dom&#233;sticos, Suministros y Productos Electr&#243;nicos de Consumo
              </nb-option>
              <nb-option value="40">Componentes y Equipos para Distribuci&#243;n y Sistemas de Acondicionamiento
              </nb-option>
              <nb-option value="31">Componentes y Suministros de Manufactura</nb-option>
              <nb-option value="32">Componentes y Suministros Electr&#243;nicos</nb-option>
              <nb-option value="30">Componentes y Suministros para Estructuras, Edificaci&#243;n, Construcci&#243;n y
                Obras Civiles</nb-option>
              <nb-option value="39">Componentes, Accesorios y Suministros de Sistemas El&#233;ctricos e Iluminaci&#243;n
              </nb-option>
              <nb-option value="43">Difusi&#243;n de Tecnolog&#237;as de Informaci&#243;n y Telecomunicaciones
              </nb-option>
              <nb-option value="42">Equipo M&#233;dico, Accesorios y Suministros</nb-option>
              <nb-option value="47">Equipos de Limpieza y Suministros</nb-option>
              <nb-option value="44">Equipos de Oficina, Accesorios y Suministros</nb-option>
              <nb-option value="46">Equipos y Suministros de Defensa, Orden Publico, Proteccion, Vigilancia y Seguridad
              </nb-option>
              <nb-option value="41">Equipos y Suministros de Laboratorio, de Medici&#243;n, de Observaci&#243;n y de
                Pruebas</nb-option>
              <nb-option value="45">Equipos y Suministros para Impresi&#243;n, Fotografia y Audiovisuales</nb-option>
              <nb-option value="49">Equipos, Suministros y Accesorios para Deportes y Recreaci&#243;n</nb-option>
              <nb-option value="27">Herramientas y Maquinaria General</nb-option>
              <nb-option value="64">Instrumentos financieros, productos, contratos y acuerdos</nb-option>
              <nb-option value="60">Instrumentos Musicales, Juegos, Juguetes, Artes, Artesan&#237;as y Equipo educativo,
                Materiales, Accesorios y Suministros</nb-option>
              <nb-option value="20">Maquinaria y Accesorios de Miner&#237;a y Perforaci&#243;n de Pozos</nb-option>
              <nb-option value="21">Maquinaria y Accesorios para Agricultura, Pesca, Silvicultura y Fauna</nb-option>
              <nb-option value="22">Maquinaria y Accesorios para Construcci&#243;n y Edificaci&#243;n</nb-option>
              <nb-option value="26">Maquinaria y Accesorios para Generaci&#243;n y Distribuci&#243;n de Energ&#237;a
              </nb-option>
              <nb-option value="23">Maquinaria y Accesorios para Manufactura y Procesamiento Industrial</nb-option>
              <nb-option value="24">Maquinaria, Accesorios y Suministros para Manejo, Acondicionamiento y Almacenamiento
                de Materiales</nb-option>
              <nb-option value="48">Maquinaria, Equipo y Suministros para la Industria de Servicios</nb-option>
              <nb-option value="11">Material Mineral, Textil y Vegetal y Animal No Comestible</nb-option>
              <nb-option value="12">Material Qu&#237;mico incluyendo Bioqu&#237;micos y Materiales de Gas</nb-option>
              <nb-option value="10">Material Vivo Vegetal y Animal, Accesorios y Suministros</nb-option>
              <nb-option value="15">Materiales Combustibles, Aditivos para Combustibles, Lubricantes y Anticorrosivos
              </nb-option>
              <nb-option value="13">Materiales de Resina, Colofonia, Caucho, Espuma, Pel&#237;cula y Elast&#243;mericos
              </nb-option>
              <nb-option value="14">Materiales y Productos de Papel</nb-option>
              <nb-option value="51">Medicamentos y Productos Farmac&#233;uticos</nb-option>
              <nb-option value="56">Muebles, Mobiliario y Decoraci&#243;n</nb-option>
              <nb-option value="54">Productos para Relojer&#237;a, Joyer&#237;a y Piedras Preciosas</nb-option>
              <nb-option value="55">Publicaciones Impresas, Publicaciones Electr&#243;nicas y Accesorios</nb-option>
              <nb-option value="53">Ropa, Maletas y Productos de Aseo Personal</nb-option>
              <nb-option value="95">Terrenos, Edificios, Estructuras y V&#237;as</nb-option>
              <nb-option value="25">Veh&#237;culos Comerciales, Militares y Particulares, Accesorios y Componentes
              </nb-option>
            </nb-select>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="inputGrupo" class="label">Grupo</label>

            <nb-select selected="4110" id="inputGrupo">
              <nb-option value="4110">Equipo de laboratorio y cient&#237;fico</nb-option>
              <nb-option value="4111">Instrumentos de medida, observaci&#243;n y ensayo</nb-option>
              <nb-option value="4112">Suministros y accesorios de laboratorio</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label for="inputClase" class="label">Clase</label>
            <nb-select selected="4110" id="inputClase">
              <nb-option value="4110">Equipo de laboratorio y cient&#237;fico</nb-option>
              <nb-option value="4111">Instrumentos de medida, observaci&#243;n y ensayo</nb-option>
              <nb-option value="4112">Suministros y accesorios de laboratorio</nb-option>
            </nb-select>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Cerrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>