<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Pagos Factura</nb-card-header>
      <nb-card-body>
        <p class="font-weight-bold">Cargar Pagos</p>
        <div class="row">
          <div class="col-md-6">
            <label for="inputClients" class="label">Cliente emisor de pago</label>
            <div class="ng-autocomplete border border-dark">
              <ng-autocomplete
                id="inputClients"
                [data]="clientsCat"
                [searchKeyword]="'razonSocial'"
                (selected)='selectClient($event)'
                placeHolder="Razon social cliente que acredita pago"
                historyIdentifier="Clientes"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">
              </ng-autocomplete>
            
              <ng-template #itemTemplate let-item>
                <div>
                  <span [innerHTML]="item.razonSocial"></span> &nbsp; | &nbsp;
                  <small>{{item.rfc}}</small>
                </div>
              </ng-template>
            
              <ng-template #notFoundTemplate let-notFound>
                <div>Cliente desconocido</div>
              </ng-template>
            </div>
          </div>
          <div class="col-md-6">
            <label for="inputCompany" class="label">Empresa receptora de pago</label>
            <div class="form-inline">
              <select id="inputCompany"  style="display:block;" class="select-full border border-dark" (change)="onCompanySelected($event.target.value)">
                <option value="*">Seleccionar</option>
                <option *ngFor="let company of companiesCat" [(value)]="company.rfc">
                  {{company.rfc}}-{{company.razonSocial}}
                </option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="inputPayCoin" class="label">Moneda</label>
            <select id="inputPayCoin" style="display:block;" class="select-full border border-dark" [(ngModel)]="newPayment.moneda">
              <option value="MXN">Peso MX</option>
            </select>
          </div>
          <div class="col-sm-3">
            <label for="inputPayType" class="label">Forma de Pago</label>
            <select selected="1" id="inputPayType" style="display:block;" class="select-full border border-dark"
              [(ngModel)]="paymentForm.payType" (change)="onPaymentTypeSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option *ngFor="let payType of payTypeCat" [value]="payType.id"> {{payType.nombre}}</option>
            </select>
          </div>
          <div class="col-sm-7">
            <label for="inputPayType" class="label">Cuenta Receptora(Banco -- No cuenta -- CLABE)</label>
            <select selected="1" id="inputPayType" style="display:block;" class="select-full border border-dark"
              [(ngModel)]="paymentForm.bankAccount" (change)="onPaymentBankSelected($event.target.value)">
              <option value="*">Seleccionar</option>
              <option *ngFor="let cuenta of cuentas" [value]="cuenta.id"> {{cuenta.banco}} -- {{cuenta.cuenta}} --
                {{cuenta.clabe}}</option>
            </select>
          </div>

          <!--div class="col-sm-2" *ngIf="newPayment.moneda == 'USD'">
              <label for="payChangeType" class="label">Tipo de Cambio</label>
              <input id="payChangeType" class="form-control" fullWidth type="number" min="0" placeholder="Tipo de cambio"
                [(ngModel)]="newPayment.tipoDeCambio">
          </div-->
        </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="payAmmount" class="label">Monto Pago</label>
            <input id="payAmmount" style="display:block;" class="select-full border border-dark" fullWidth type="number" min="0" placeholder="Monto"
              [(ngModel)]="newPayment.monto">
          </div>
          <div class="col-md-3">
            <label for="payAmmount" class="label">Fecha de pago</label>
            <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" fullWidth style="display:block;" class="select-full border border-dark"
              [(ngModel)]="newPayment.fechaPago">
            <nb-datepicker #formpicker></nb-datepicker>
          </div>
          <div class="form-group col-md-7">
            <label for="payFile" class="label">Comprobante de pago</label>
            <div class="input-group">
              <div class="custom-file" id="payFile">
                <input #fileInput type="file" class="custom-file-input" id="inputGroupFile01" accept="image/*"
                  (change)="fileUploadListener($event)" style="display:block;" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">{{paymentForm.filename}}</label>
              </div>
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <button nbButton status="primary" size="medium" (click)="sendPayment()" [nbSpinner]="loading"
                [disabled]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="">
                Enviar Pago
              </button>
            </div>
          </div>

        </div>
        <br>
        <div class="row d-flex justify-content-center">
          <div class="alert alert-success" role="alert">
            Pago exitosamente enviado.
          </div>
        </div>
        <div class="alert alert-warning" *ngIf="payErrorMessages.length > 0" role="alert">
          <p *ngFor="let message of payErrorMessages">{{message}}</p>
        </div>
        <br>

        <!--TABLA PAGOS-->
        <p class="font-weight-bold">Ultimos pagos</p>
        <br>

        <div *ngIf="page.empty" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        <div class="clearfix" *ngIf="page.empty == false">
         
          <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>

          <nb-select *ngIf="page.last==false || page.first" [selected]="pageSize"
            (selectedChange)="onChangePageSize($event)" id="inputPageSize" class="float-right">
            <nb-option value="10">10</nb-option>
            <nb-option *ngIf="page.number<(page.totalElements/20)" value="20">20</nb-option>
            <nb-option *ngIf="page.number<(page.totalElements/50)" value="50">50</nb-option>
          </nb-select>
        </div>

        <br>
        <div class="table-responsive" *ngIf="!page.empty">
          <table [nbTreeGrid]="dataSource">

            <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
            <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

            <ng-container [nbTreeGridColumnDef]="customColumn">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                {{customColumn}}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                <div *ngIf="row.data['solicitante']!==undefined">
                  <nb-tree-grid-row-toggle [expanded]="row.expanded">
                  </nb-tree-grid-row-toggle>
                  <button class="btn btn-sm btn-outline-primary d-inline p-2" (click)="openPaymentAssigments(dialog)"
                    [disabled]="row.data['SALDO'] <= 0"><i class="fa fa-search"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger d-inline p-2"
                    [disabled]="row.data['STATUS']==='ACEPTADO'"><i class="fa fa-trash"></i></button>

                </div>
                <div *ngIf="row.data['folio']!==undefined">
                  <button class="btn btn-sm btn-outline-primary d-inline p-2" [disabled]="row.data['SALDO'] <= 0"><i
                      class="fa fa-file-pdf"></i></button>
                  <button type="button" class="btn btn-sm btn-outline-danger d-inline p-2"
                    [disabled]="row.data['STATUS']==='ACEPTADO'"><i class="fa fa-calendar-times"></i></button>
                </div>
              </td>
            </ng-container>


            <ng-container *ngFor="let column of defaultColumns; let index = index" [nbTreeGridColumnDef]="column"
              [showOn]="getShowOn(index)">
              <th nbTreeGridHeaderCell *nbTreeGridHeaderCellDef>
                {{column}}
              </th>
              <td nbTreeGridCell *nbTreeGridCellDef="let row">
                <div *ngIf="column !== 'MONTO'">
                  {{row.data[column] || '-'}}
                </div>
                <div *ngIf="column === 'MONTO'">
                  <p class="d-inline p-2">{{row.data['monto'] | currency}}</p>
                </div>

              </td>
            </ng-container>

          </table>


          <div class="row">

            <div class="col align-self-center">
              <ul class="pagination" *ngIf="page.totalElements > 1">
                <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                    (click)="updateDataTable(0,page.size)"><i class="nb-arrow-left"></i></button></li>
                <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                    (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
                <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
                <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                    (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
                <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                    (click)="updateDataTable(page.totalPages-1,page.size)"><i class="nb-arrow-right"></i></button></li>
              </ul>
            </div>
          </div>
        </div>

      </nb-card-body>

    </nb-card>
  </div>
</div>