<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header class="puff_center">Clientes</nb-card-header>
      <nb-card-body>
        <div class="row slide_1">
          <div class="col-md-2">
            <label for="inputRFC" class="label">RFC cliente</label>
            <input type="text" class="form-control" [(ngModel)]="filterParams.rfc"
              [disabled]="filterParams.razonSocial.length > 0" nbInput fullWidth id="inputRfc"
              placeholder="RFC Cliente">
          </div>
          <div class="col-md-3">
            <label for="inputRazonSocial" class="label">Razón social cliente</label>
            <input type="text" class="form-control" [(ngModel)]="filterParams.razonSocial"
              [disabled]="filterParams.rfc.length > 0" nbInput fullWidth id="InoputRazonSocial" placeholder="Razón Social">
          </div>
          <div class="col-md-2" *ngIf="module !== 'promotor'">
            <label for="inputPromotor" class="label">Promotor</label>
            <input type="text" class="form-control" [(ngModel)]="filterParams.promotor" nbInput fullWidth id="inputEmail" placeholder="Correo promotor">
          </div>
          <div class="col-md-5 align-self-end">
            <label for="inputActivo" class="label">Estado cliente</label>
            <div class="row form-inline">
              <select id="inputActivo" class="form-control" [(ngModel)]="filterParams.status" style="display:block;"
                fullWidth>
                <option value="*">TODOS</option>
                <option value="1">ACTIVO</option>
                <option value="0">INACTIVO</option>
              </select>
              
              <button class="btn btn-primary" style="margin-left: 15px;" (click)="updateDataTable(0,10)">BUSCAR</button>
              
              <button class="btn btn-primary" style="margin-left: 15px;" *ngIf="paths[2] === 'promotor'" (click)="redirectToCliente('*')">NUEVO CLIENTE</button>
            </div>
          </div>
        </div>
        <br>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="puff_center">Clientes</nb-card-header>
      <nb-card-body>

        <div *ngIf="page.empty == true" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        <div class="clearfix puff_center" *ngIf="page.empty == false">
          <strong class="">Resultados</strong>
          <div class="row float-right">
          <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>
          <select id="inputunidad" style="display:block;width: 95px;margin-right: 15px;margin-left: 15px;" class="float-right form-control" [(ngModel)]="filterParams.size"
            *ngIf="page.last==false || page.first==true"
            (change)="onChangePageSize($event.target.value)">
            <option value="10">10</option>
            <option *ngIf="page.number<(page.totalElements/20)" value="20">20</option>
            <option *ngIf="page.number<(page.totalElements/50)" value="50">50</option>
          </select>
          </div>
        </div>
        <div class="table-responsive slide_1" *ngIf="page.empty == false">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Acciones</th>
                <th class="text-center" scope="col">RFC</th>
                <th class="text-center" scope="col">Razón Social</th>
                <th class="text-center" scope="col">Activo</th>
                <th class="text-center" scope="col">Promotor</th>
                <th class="text-center" scope="col">Email cliente</th>
                <th class="text-center" scope="col">Dirección</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of page.content">
                <td scope="row" class="text-center"> <button class="btn btn-outline-primary"
                    (click)="redirectToCliente(fila.informacionFiscal.rfc)"><i class="fa fa-edit"></i></button>
                </td>
                <td scope="row">{{fila.informacionFiscal.rfc}}</td>
                <td scope="row">{{fila.informacionFiscal.razonSocial}}</td>
                <td scope="row" *ngIf="fila.activo">ACTIVO</td>
                <td scope="row" *ngIf="!fila.activo">INACTIVO</td>
                <td scope="row">{{fila.correoPromotor}}</td>
                <td scope="row">{{fila.informacionFiscal.correo}}</td>
                <td scope="row">{{fila.informacionFiscal.calle}} , {{fila.informacionFiscal.noExterior}},
                  {{fila.informacionFiscal.localidad}}, {{fila.informacionFiscal.municipio}}, C.P.
                  {{fila.informacionFiscal.cp}}</td>
              </tr>
            </tbody>
          </table>

          <ul class="pagination" *ngIf="page.totalElements > 1">
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(0,page.size,filterParams)"><i class="nb-arrow-left"></i></button></li>
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(page.number-1,page.size,filterParams)">{{page.number}}</button></li>
            <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.number+1,page.size,filterParams)">{{page.number+2}}</button></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.totalPages-1,page.size,filterParams)"><i class="nb-arrow-right"></i></button></li>
          </ul>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>