<div *ngIf="cfdi">
  <!-- START CONCEPTOS-->
  <div class="row" *ngIf="allowEdit">
    <div class="col-sm-4">
      <label for="inputProdServ" class="label">Palabra clave producto servicio</label>
      <div class="form-inline">
        <input id="inputProdServ" class="form-control" fullWidth type="text" [(ngModel)]="formInfo.claveProdServ"
          (ngModelChange)="buscarClaveProductoServicio($event)" placeholder="palabra clave producto servicio">
        <button class="btn btn-primary" (click)="openSatCatalog(dialog)"> Catalogo SAT</button>
      </div>
    </div>
    <div class="col-sm-4">
      <label for="inputProdServ" class="label">Selección clave producto servicio</label>
      <select id="inputProdServ" fullWidth class="form-control" [(ngModel)]="formInfo.prodServ"
        (change)="onClaveProdServSelected($event.target.value)" style="display:block;">
        <option *ngFor="let clave of prodServCat" [(value)]="clave.clave">{{clave.clave}} - {{clave.descripcion}}
        </option>
      </select>
    </div>
    <div class="col-sm-4">
      <label for="inputdesc" class="label">Descripción</label>
      <input id="inputdesc" class="form-control" fullWidth type="text" [(ngModel)]="concepto.descripcion"
        placeholder="Descripción del producto">
    </div>

  </div>


  <div class="row" *ngIf="allowEdit">
    <div class="col-sm-2">
      <label for="inputunidad" class="label">Unidad Medida</label>
      <select id="inputunidad" style="display:block;" class="form-control" [(ngModel)]="formInfo.unidad"
        (change)="onSelectUnidad($event.target.value)">
        <option value="*">Seleccionar</option>
        <option *ngFor="let clave of claveUnidadCat" [(value)]="clave.clave">{{clave.nombre}}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <label for="inputCantidad" class="label">Cantidad</label>
      <input id="inputCantidad" class="form-control" fullWidth type="number" placeholder="Cantidad"
        [(ngModel)]="concepto.cantidad">
    </div>
    <div class="col-sm-2">
      <label for="inputPrecio" class="label">Precio Unitario</label>
      <input id="inputPrecio" class="form-control" fullWidth type="number" placeholder="Precio Unitario"
        [(ngModel)]="concepto.valorUnitario">
    </div>

    <!--div class="col-sm-2">
          <label for="inputDescuento" class="label">Descuento</label>
          <input id="inputDescuento" class="form-control" fullWidth type="number" placeholder="Descuento aplicado"
            [(ngModel)]="concepto.descuento">
        </div-->
    <div class="col-sm-4">
      <label for="inputImpuesto" class="label"></label>
      <div class="row form-inline">
        <input type="checkbox" [(ngModel)]="concepto.iva" class="form-check-input" id="iva">
        <label class="form-check-label" for="iva">IVA</label>
        <button *ngIf="concepto.id === undefined" class="btn btn-success" (click)="agregarConcepto()">Agregar
          Concepto</button>
        <button *ngIf="concepto.id !== undefined" class="btn btn-success"
          (click)="agregarConcepto(concepto.id)">Actualizar Concepto</button>
      </div>
    </div>

  </div>
  <div class="alert alert-warning" *ngIf="conceptoMessages.length > 0" role="alert">
    <p *ngFor="let conceptMessage of conceptoMessages">{{conceptMessage}}</p>
  </div>


  <br>
  <!--TABLA CONCEPTOS-->
  <table class="table" *ngIf="cfdi.conceptos.length>0">
    <thead class="thead-light">
      <tr>
        <th scope="col" *ngIf="allowEdit"
          class="text-center">Acciones</th>
        <th scope="col" class="text-center">Producto Servicio</th>
        <th scope="col" class="text-center">Cantidad</th>
        <th scope="col" class="text-center">Clave Unidad</th>
        <th scope="col" class="text-center">Unidad</th>
        <th scope="col" class="text-center">Descripcion</th>
        <th scope="col" class="text-center">Valor Unitario</th>
        <th scope="col" class="text-center">Impuesto</th>
        <th scope="col" class="text-center">Importe</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of cfdi.conceptos; let i = index">
        <td scope="row" class="text-center"
          *ngIf="allowEdit">
          <button class="btn-sm btn-outline-danger" (click)="removeConcepto(i)"><i class="fa fa-trash"></i></button>
          <button *ngIf="fila.id !==undefined" class="btn-sm btn-outline-primary" (click)="updateConcepto(fila)"><i class="fa fa-edit"></i></button>
        </td>
        <td scope="row" class="text-center">{{fila.claveProdServ}} -- {{fila.descripcionCUPS}}</td>
        <td scope="row" class="text-center">{{fila.cantidad}}</td>
        <td scope="row" class="text-center">{{fila.claveUnidad}}</td>
        <td scope="row" class="text-center">{{fila.unidad}}</td>
        <td scope="row" class="text-center">{{fila.descripcion}}</td>
        <td scope="row" class="text-center">{{fila.valorUnitario | currency}}</td>
        <td scope="row" class="text-center">{{getImporteImpuestos(fila.impuestos) | currency}}</td>
        <td scope="row" class="text-center">{{fila.importe | currency}}</td>
      </tr>
      <tr>
        <td *ngIf="!allowEdit" colspan="6">
        </td>
        <td *ngIf="allowEdit" colspan="7">
        </td>
        <td class="text-center">Subtotal</td>
        <td class="text-center">{{cfdi.subtotal | currency}}</td>
      </tr>

      <tr>
        <td *ngIf="!allowEdit" colspan="6">
        </td>
        <td *ngIf="allowEdit" colspan="7">
        </td>
        <td class="text-center">Total</td>
        <td class="text-center">{{cfdi.total | currency}}</td>
      </tr>
    </tbody>
  </table>

</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Catalogo producto servicio SAT</nb-card-header>
    <nb-card-body>
      <div style="width: 90vw; height: 80vh;">
        <iframe width="100%" height="100%" src="http://pys.sat.gob.mx/PyS/catPyS.aspx"></iframe>  
      </div>
      
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close(undefined)">Salir</button>
    </nb-card-footer>
  </nb-card>
</ng-template>