<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Clientes</nb-card-header>
      <nb-card-body>
        <form class="form-inline">
          <input type="text" nbInput fullWidth placeholder="RFC">
          <button type="button" nbButton status="primary">BUSCAR</button>
          <button type="button" nbButton status="primary">REGISTRAR</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>Registro cliente</nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="inputSocialReason" class="label">Razón Social</label>
                        <input type="text" nbInput fullWidth id="inputSocialReason" placeholder="Razón Social">
                      </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputEmail" class="label">Email</label>
                      <input type="email" nbInput fullWidth id="inputEmail" placeholder="Email">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputCCO" class="label">CCO</label>
                      <input type="text" nbInput fullWidth id="inputCCO" placeholder="CCO">
                    </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="inputCalle" class="label">Calle</label>
                    <input type="text" nbInput fullWidth id="inputCalle" placeholder="Calle">
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="form-group">
                    <label for="inputExterior" class="label">No exterior</label>
                    <input type="text" nbInput fullWidth id="inputExterior" placeholder="No exterior">
                  </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                      <label for="inputInterior" class="label">No interior</label>
                      <input type="number" nbInput fullWidth id="inputInterior" placeholder="No interior">
                    </div>
                  </div>
              </div>

              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputColonia" class="label">Colonia</label>
                      <input type="text" nbInput fullWidth id="inputColonia" placeholder="Colonia">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputCity" class="label">Municipio/Delegación</label>
                      <input type="text" nbInput fullWidth id="inputCity" placeholder="Municipio/Delegación">
                    </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label for="inputState" class="label">Estado</label>
                      <input type="text" nbInput fullWidth id="inputState" placeholder="Estado">
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="inputCountry" class="label">País</label>
                      <input type="text" nbInput fullWidth id="inputCountry" placeholder="México">
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputZipCode" class="label">Código Postal</label>
                        <input type="number" nbInput fullWidth id="inputZipCode" placeholder="00300">
                      </div>
                    </div>
              </div>
              <h6>Porcentajes</h6>
              <div class="row">
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="inputPromotor" class="label">Promotor</label>
                      <input type="number" nbInput fullWidth id="inputPromotor" placeholder="30">
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputCliente" class="label">Cliente</label>
                        <input type="number" nbInput fullWidth id="inputCliente" placeholder="50">
                      </div>
                    </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="inputdespacho" class="label">Despacho</label>
                      <input type="number" nbInput fullWidth id="inputdespacho" placeholder="20">
                    </div>
                  </div>
                  <div class="col-sm-3">
                      <div class="form-group">
                        <label for="inputContacto" class="label">Contacto</label>
                        <input type="number" nbInput fullWidth id="inputContacto" placeholder="10">
                      </div>
                    </div>
              </div>
              
              <div class="form-inline">
                  <button type="button" nbButton status="primary">GUARDAR</button>
                  <button type="button" nbButton status="primary">ACTUALIZAR</button>
              </div>
            </nb-card-body>
          </nb-card>
    </div>
  </div>
 