<div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>Registro Empresa</nb-card-header>
        <nb-card-body>
          <p class="font-weight-bold">Informacion Fiscal</p>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputRFC" class="label">RFC</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.rfc" class="form-control" fullWidth id="inputRFC"
                  placeholder="RFC Empresa" [disabled]="companyInfo.id!=undefined" >
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputSocialReason" class="label">Razón Social</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.razonSocial" class="form-control" fullWidth
                  id="inputSocialReason" placeholder="Razón Social">
              </div>
            </div>
            
            <div class="col-sm-2">
                <label for="inputPayType" class="label">Regimen Fiscal</label>
                <select selected="1" id="inputPayType" style="display:block;" class="form-control" [(ngModel)]="companyInfo.regimenFiscal"
                  (change)="onRegimenFiscalSelected($event.target.value)">
                  <option value="*">Seleccionar</option>
                  <option value="601">General de Ley Personas Morales</option>
                  <option value="603">Personas Morales con Fines no Lucrativos</option>
                  <option value="609">Consolidación</option>
                  <option value="612">Personas Físicas con Actividades Empresariales y Profesionales</option>
                  <option value="620">Sociedades Cooperativas de Producción que optan por diferir sus ingresos</option>
                  <option value="621">Incorporación Fiscal</option>
                </select>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <label for="inputPais" class="label">País</label>
              <select id="inputPais" selected="0" fullWidth class="form-control" style="display:block;">
                <option value="0">México</option>
              </select>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputZipCode" class="label">Código Postal</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.cp" (ngModelChange)="zipCodeInfo($event)"
                  class="form-control" fullWidth id="inputZipCode" placeholder="00300">
              </div>
            </div>
            <div class="col-sm-6">
                <label for="inputColonia" class="label">Seleccionar colonia</label>
                <select id="inputColonia" fullWidth class="form-control"
                  (selectedChange)="onLocation($event)" style="display:block;">
                  <option value="*">Seleccionar</option>
                  <option *ngFor="let colonia of colonias; let i = index" [value]="i">{{colonia}}</option>
                </select>
              
            </div>
  
          </div>
          <div class="row">
            <div class="col-sm-4">
              <label for="inputState" class="label">Estado</label>
              <input type="text" [(ngModel)]="companyInfo.informacionFiscal.estado" class="form-control" fullWidth id="inputState"
                placeholder="Estado">
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputCity" class="label">Municipio/Delegación</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.municipio" class="form-control" fullWidth id="inputCity"
                  placeholder="Municipio/Delegación">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="form-group">
                <label for="inputLocalidad" class="label">Colonia</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.localidad" class="form-control" fullWidth
                  id="inputLocalidad" placeholder="Colonia">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="inputCalle" class="label">Calle</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.calle" class="form-control" fullWidth id="inputCalle"
                  placeholder="Calle">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputExterior" class="label">No exterior</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.noExterior" class="form-control" fullWidth
                  id="inputExterior" placeholder="No exterior">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputInterior" class="label">No interior</label>
                <input type="text" [(ngModel)]="companyInfo.informacionFiscal.noInterior" class="form-control" fullWidth
                  id="inputInterior" placeholder="No interior">
              </div>
            </div>
          </div>
          <p class="font-weight-bold">Datos addicionales</p>
          <div class="row">
              <div class="col-sm-6">
                      <label for="inputGiro" class="label">Giro Empresa</label>
                      <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                        style="display:block;" [(ngModel)]="companyInfo.giro">
                        <option value="*">Seleccionar</option>
                        <option *ngFor="let giro of girosCat" [(value)]="giro.clave">{{giro.nombre}}</option>
                      </select>
              </div>
              <div class="col-sm-3">
                  <label for="inputCompanyType" class="label">Linea Empresa</label>
                  <select selected="*" id="inputCompanyType" style="display:block;width: 250px;" class="form-control"
                  [(ngModel)]="companyInfo.tipo" (change)="onLineaSelected($event.target.value)">
                  <option value="*">Seleccionar</option>
                  <option value="A">Tipo A</option>
                  <option value="B">Tipo B</option>
                  <option value="C">Tipo C</option>
                </select>
              </div>
              <div class="col-sm-3">
                <label for="inputCompanyActive" class="label">activo</label>
                <select id="inputCompanyActive" style="display:block;width: 250px;" class="form-control"
                [(ngModel)]="companyInfo.activo" >
                <option value="*">Seleccionar</option>
                <option value="true">SI</option>
                <option value="false">NO</option>
              </select>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
                <label for="inputContact" class="label">Nombre contacto Legal</label>
                <input type="text" [(ngModel)]="companyInfo.contactoAdmin" class="form-control" fullWidth
                  id="inputContact" placeholder="Contacto legal">
            </div>
            <div class="col-md-6">
              
                <label for="inputWeb" class="label">Sitio web</label>
                <input type="text" [(ngModel)]="companyInfo.web" class="form-control" fullWidth
                  id="inputWeb" placeholder="www.mi-empresa.com">
              
            </div>
          </div>
          <p class="font-weight-bold">Datos facturacion</p>
          <div >
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPassword" class="label">Encabezado</label>
                  <textarea type="text" [(ngModel)]="companyInfo.encabezado" class="form-control" fullWidth id="inputPassword"
                    placeholder="Breve leyenda de encabezado para facturas empresa."></textarea>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputPassword" class="label">Pie de pagina</label>
                  <textarea type="text" [(ngModel)]="companyInfo.piePagina" class="form-control" fullWidth id="inputPassword"
                    placeholder="Breve leyenda de pie de pagina para facturas empresa."></textarea>
                </div>
              </div>
            </div>
           <div class="row">
            <div class="form-group col-md-4">
              <label for="logoFile" class="label">Logotipo Empresa</label>
              <div class="input-group" *ngIf="companyInfo.logotipo==undefined">
                <div class="custom-file" id="logoFile">
                  <input type="file" class="custom-file-input" id="inputLogoFile" accept="image/*"
                    (change)="logoUploadListener($event)" style="display:block;"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputLogoFile">{{formInfo.logoFileName}}</label>
                </div>
              </div>
              <div *ngIf="companyInfo.logotipo!=undefined">
                <img [src]="sanitize(companyInfo.logotipo)" style="height: 80px;">
              </div>
            </div>
           </div>
            
        
           
          </div>
          <p class="font-weight-bold">Claves y accessos</p>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputEmail" class="label">Correo Empresa</label>
                <input type="email" [(ngModel)]="companyInfo.correo" class="form-control" fullWidth id="inputEmail"
                  placeholder="Email">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputPassword" class="label">Contraseña correo</label>
                <input type="text" [(ngModel)]="companyInfo.pwCorreo" class="form-control" fullWidth id="inputPassword"
                  placeholder="Password">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-4">
              <label for="certFile" class="label">Certificado SAT</label>
              <div class="input-group">
                <div class="custom-file" id="certFile">
                  <input type="file" class="custom-file-input" id="inputCertificateFile" accept=".cer"
                    (change)="certificateUploadListener($event)" style="display:block;"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputCertificateFile">{{formInfo.certificateFileName}}</label>
                </div>
              </div>
            </div>
  
            <div class="form-group col-md-4">
              <label for="keyFile" class="label">Llave SAT</label>
              <div class="input-group">
                <div class="custom-file" id="keyFile">
                  <input type="file" class="custom-file-input" id="inputKeyFile" accept=".key"
                    (change)="keyUploadListener($event)" style="display:block;"
                    aria-describedby="inputGroupFileAddon01">
                  <label class="custom-file-label" for="inputKeyFile">{{formInfo.keyFileName}}</label>
                </div>
              </div>
            </div>
  
            <div class="col-md-3">
              <div class="form-group">
                <label for="inputPasswordSAT" class="label">Contraseña SAT</label>
                <input type="password" [(ngModel)]="companyInfo.pwSat" class="form-control" fullWidth
                  id="inputPasswordSAT" placeholder="Contraseña SAT">
              </div>
            </div>
          </div>
          <div class="form-inline">
            <button type="button" *ngIf="companyInfo.id == undefined"
              (click)="insertNewCompany()" nbButton status="primary">GUARDAR</button>
            <button type="button" *ngIf="companyInfo.id != undefined" (click)="updateCompany()" nbButton
              status="primary">ACTUALIZAR</button>
          </div>
          <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
            <p *ngFor="let message of errorMessages">{{message}}</p>
          </div>
          <p class="alert alert-success" *ngIf="formInfo.success.length > 0" role="alert">{{formInfo.success}}</p>
        </nb-card-body>
      </nb-card>
    </div>
  </div>