<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header class="puff_center">Registro CFDI Linea C<span class="badge badge-primary" style="margin-left: 10px;"
          *ngIf="preFolio != '*' && factura">{{factura.statusFactura}}</span>

        <button type="button" *ngIf="preFolio !== '*'" class="btn btn-sm btn-outline-primary float-right"
          (click)="downloadPdf(factura.folio)">
          <i class="fa fa-file-pdf"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" *ngIf="preFolio !== '*' && factura.statusFactura == 'Timbrada'"
          class="btn btn-sm btn-outline-primary float-right" (click)="downloadXml(factura.folio)">
          <i class="fa fa-code"></i>
        </button>

      </nb-card-header>
      <nb-card-body>

        <p class="font-weight-bold puff_center">Información Emisor y Receptor</p>
        <div class="row slide_1" *ngIf="preFolio === '*'">

          <div class="col-3">
            <div class="form-group">
              <label for="inputGiro" class="label">Giro Empresa</label>
              <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                style="display:block;" [(ngModel)]="formInfo.giro">
                <option value="*">Seleccionar</option>
                <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <label for="inputEmpresa" class="label">Empresa</label>
            <select id="inputEmpresa" class="form-control" (change)="onCompanySelected($event.target.value)"
              [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth>
              <option value="*">Seleccionar</option>
              <option *ngFor="let company of companiesCat" [(value)]="company.id">
                {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
              </option>
            </select>
          </div>
          <div class="col-3">
            <label for="inputCliente" class="label">Razón social</label>
            <div class="row form-inline">
              <input type="text" [(ngModel)]="formInfo.clientName" fullWidth class="form-control"
                (ngModelChange)="buscarClientInfo($event)" placeholder="Razón social" style="width: 100%;">
            </div>
          </div>
          <div class="col-3">
            <label for="inputClient" class="label">Cliente</label>
            <select id="inputClient" class="form-control" (change)="onClientSelected($event.target.value)"
              [(ngModel)]="formInfo.clientRfc" style="display:block;" fullWidth>
              <option value="*">Seleccionar</option>
              <option *ngFor="let client of clientsCat" [(value)]="client.id">
                {{client.informacionFiscal.rfc}}-{{client.informacionFiscal.razonSocial}}
              </option>
            </select>
          </div>
        </div>
        <br>
        
        <div *ngIf="!loading">
          <ngx-cfdi class="slide_1" [cfdi]="factura.cfdi" [pagos]="pagosCfdi"
            [allowEdit]="factura.tipoDocumento === 'Factura' && (factura.folio === undefined || factura.statusFactura=='Validacion operaciones' || factura.statusFactura=='Por Timbrar')">
          </ngx-cfdi>
        </div>

        <br>
        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>
        <div class="puff_center">
          <div class="d-flex float-left" *ngIf="preFolio === '*'">
            <button nbButton status="success" size="small" (click)="solicitarCfdi(factura,dialog)" [nbSpinner]="loading"
              *ngIf="this.factura.folio == undefined" [disabled]="loading" nbSpinnerStatus="success" nbSpinnerSize="small"
              nbSpinnerMessage="">
              SOLICITAR CFDI
            </button>
          </div>
          <div class="d-flex float-right" *ngIf="factura.idCfdi !== undefined">
            <button nbButton status="success" size="small" (click)="timbrarFactura(factura,dialog)" [nbSpinner]="loading"
              [disabled]="loading" *ngIf="factura.statusFactura == 'Por Timbrar'" nbSpinnerStatus="success"
              nbSpinnerSize="small" nbSpinnerMessage="">
              Timbrar
            </button>
            &nbsp;&nbsp;
            <button nbButton status="danger" size="small" (click)="cancelarFactura(factura)" [nbSpinner]="loading"
              [disabled]="loading" *ngIf="factura.statusFactura == 'Timbrada'" nbSpinnerStatus="danger"
              nbSpinnerSize="small" nbSpinnerMessage="">
              Cancelar
            </button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-sm btn-danger" (click)="rechazarFactura()"
              *ngIf="factura.statusFactura !== 'Timbrada' && factura.statusFactura !== 'Cancelada'">Rechazar</button>
          </div>
        </div>

       
      <!--   <div *ngIf="!loading">
        <br> -->
         <ngx-generar-complemento class="slide_1" [factura]="factura" (loading)="loading" (myEvent)="getInvoiceInfoByPreFolio($event)" *ngIf="factura.statusFactura==='Timbrada'" ></ngx-generar-complemento>
        <!-- </div> -->

      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
    <nb-card-body>
      <div class="row" style="width: 300 px;">
        <div class="col-sm-12">

          <label for="inputGiro" class="label">Pack de facturacion</label>
          <select id="inputGiro" fullWidth class="form-control" style="display:block;"
            [(ngModel)]="data.packFacturacion">
            <option value="NTLINK">NT Link</option>
            <option value="SW_SAPIENS">SW Sapiens</option>
            <option value="FACTURACION_MODERNA">Facturacion Moderna</option>
          </select>

        </div>

      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close(undefined)">Salir</button>
      &nbsp;&nbsp;
      <button class="btn btn-success" (click)="ref.close(data)">Timbrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>