<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12" [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header>
        <div class="clearfix" *ngIf="preFolio !== '*'">
          <p class="h6 float-left puff_center">Validación CFDI {{preFolio}}</p>
          <button type="button" class="btn btn-sm btn-outline-primary float-right" (click)="downloadPdf(factura.folio)">
            <i class="fa fa-file-pdf"></i>
          </button>
          &nbsp;&nbsp;
          <button type="button" *ngIf="factura.statusFactura == 'Timbrada'"
            class="btn btn-sm btn-outline-primary float-right" (click)="downloadXml(factura.folio)">
            <i class="fa fa-code"></i>
          </button>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="preFolio === '*'">
          <p class="">Información Emisor y Receptor</p>
          <div class="row">

            <div class="col-sm-3">
              <div class="form-group">
                <label for="inputGiro" class="label">Giro Empresa</label>
                <select id="inputGiro" fullWidth class="form-control" (change)="onGiroSelection($event.target.value)"
                  style="display:block;" [(ngModel)]="formInfo.giro">
                  <option value="*">Seleccionar</option>
                  <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <label for="inputEmpresa" class="label">Empresa</label>
              <select id="inputEmpresa" class="form-control" (change)="onCompanySelected($event.target.value)"
                [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth>
                <option value="*">Seleccionar</option>
                <option *ngFor="let company of companiesCat" [(value)]="company.id">
                  {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
            <div class="col-md-3">
              <label for="inputCliente" class="label">Razón social</label>
              <div class="row form-inline">
                <input type="text" [(ngModel)]="formInfo.clientName" fullWidth class="form-control"
                  (ngModelChange)="buscarClientInfo($event)" placeholder="Razón social">
              </div>
            </div>
            <div class="col-md-3">
              <label for="inputClient" class="label">Cliente</label>
              <select id="inputClient" class="form-control" (change)="onClientSelected($event.target.value)"
                [(ngModel)]="formInfo.clientRfc" style="display:block;" fullWidth>
                <option value="*">Seleccionar</option>
                <option *ngFor="let client of clientsCat" [(value)]="client.id">
                  {{client.informacionFiscal.rfc}}-{{client.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
          </div>
        </div>
        <br>
      
      
        <div  *ngIf="!loading"> 
          <ngx-cfdi class="slide_1" [cfdi]="factura.cfdi" [pagos]="pagosCfdi" 
            [allowEdit]="factura.tipoDocumento === 'Factura' && (factura.folio === undefined || factura.statusFactura=='Validacion operaciones' || factura.statusFactura=='Validacion tesoreria')">
          </ngx-cfdi>
        </div>

        
        <div class="row" *ngIf="factura.folio !== undefined && (factura.statusFactura !== 'Timbrada' || factura.statusFactura !== 'Cancelada')">
          <div class="col-sm-12">
            <label for="inputdesc" class="label">Descripción Rechazo CFDI</label>
            <input id="statusDetail" class="form-control" fullWidth type="text" placeholder="Motivo rechazo factura"
              [(ngModel)]="factura.statusDetail"
              [disabled]="factura.statusFactura.indexOf('Rechazo')===0" />
          </div>
        </div>
        <br>
        <div class="buttons-row" *ngIf="factura.folio !== undefined">
          <button nbButton status="success" size="medium" (click)="timbrarFactura(factura,dialog)" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura == 'Por Timbrar'" nbSpinnerStatus="success"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Timbrar
          </button>
          <button nbButton status="success" size="medium" (click)="aceptarFactura()" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura == 'Validacion operaciones'" nbSpinnerStatus="success"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Aceptar
          </button>
      
          <button nbButton status="danger" size="medium" (click)="rechazarFactura()" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura !== 'Timbrada' && factura.statusFactura !== 'Cancelada' && factura.statusFactura.indexOf('Rechazo')<0" nbSpinnerStatus="danger"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Rechazar
          </button>

          <button nbButton status="danger" size="medium" (click)="cancelarFactura(factura)" [nbSpinner]="loading"
            [disabled]="loading" *ngIf="factura.statusFactura == 'Timbrada'" nbSpinnerStatus="danger"
            nbSpinnerSize="small" nbSpinnerMessage="">
            Cancelar
          </button>
        </div>

        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>
        <div class="alert alert-success" *ngIf="successMessage!=undefined" role="alert">
          {{successMessage}}
        </div>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
    <nb-card-body>
      <div class="row" style="width: 300 px;">
        <div class="col-sm-12">

          <label for="inputGiro" class="label">Pack de facturacion</label>
          <select id="inputGiro" fullWidth class="form-control" style="display:block;"
            [(ngModel)]="data.packFacturacion">
            <option value="NTLINK">NT LINK</option>
            <option value="FACTURACION_MODERNA">Facturacion Moderna</option>
            <option value="SW_SAPIENS">SW Sapiens</option>
          </select>

        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close(undefined)">Salir</button>
      &nbsp;&nbsp;
      <button class="btn btn-success" (click)="ref.close(data)">Timbrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>