<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header class="puff_center">Empresas</nb-card-header>
      <nb-card-body>
        <div class="row slide_1">
          <div class="col-3">
            <label for="inputName" class="label">Razón Social Empresa</label>
            <input id="inputName" class="form-control" fullWidth type="text" [(ngModel)]="filterParams.razonSocial"
              [disabled]="filterParams.rfc.length > 0" fullWidth placeholder="Razón Social">
          </div>
          <div class="col-2">
            <label for="inputRfc" class="label">RFC</label>
            <input id="inputRfc" class="form-control" fullWidth type="text" [(ngModel)]="filterParams.rfc"
              [disabled]="filterParams.razonSocial.length > 0" fullWidth placeholder="RFC Empresa">
          </div>
          <div class="col-2">
            <label for="inputCompanyType" class="label">Tipo Empresa</label>
            <div class="row form-inline">
              <select selected="*" id="inputCompanyType" style="display:block;width: 100%;" class="form-control"
                (change)="onCompanySelected($event.target.value)">
                <option value="*">Seleccionar</option>
                <option value="A">Tipo A</option>
                <option value="B">Tipo B</option>
                <option value="C">Tipo C</option>
              </select>
    
            </div>
          </div>
          <div class="col-2">
            <button class="btn btn-primary" style="width: 100%; margin-top: 28px;" (click)="updateDataTable(0,10,filterParams)">BUSCAR</button>
          </div>
          <div class="col-3">
            <button class="btn btn-primary" style="width: 100%; margin-top: 28px;" (click)="newCompany()">NUEVA EMPRESA</button>
          </div>
        </div>
        <br>

      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header class="puff_center" >Facturas</nb-card-header>
      <nb-card-body>

        <div class="puff_center" *ngIf="page.empty == true" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        
          <div class="clearfix puff_center" *ngIf="page.empty == false">
            <strong>Resultados</strong>
            <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>

            <nb-select *ngIf="page.last==false || page.first" [selected]="pageSize" (selectedChange)="onChangePageSize($event)"
              id="inputPageSize" class="float-right">
              <nb-option value="10">10</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/20)" value="20">20</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/50)" value="50">50</nb-option>
            </nb-select>
          </div>

        <div class="table-responsive slide_1" *ngIf="page.empty == false">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Acciones</th>
                <th scope="col">RFC</th>
                <th scope="col">Razón Social</th>
                <th scope="col">Giro</th>
                <th scope="col">Tipo</th>
                <th scope="col">Activa</th>
                <th scope="col">Correo</th>
                <th scope="col">Creación</th>
                <th scope="col">Actualización</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of page.content">
                <td scope="row" class="text-center"> <button class="btn btn-outline-primary" (click)= "redirectToEmpresa(fila.rfc)"><i class="fa fa-edit"></i></button>
                </td>
                <td scope="row">{{fila.rfc}}</td>
                <td scope="row">{{fila.razonSocial}}</td>
                <td scope="row">{{fila.giro}}</td>
                <td scope="row">{{fila.tipo}}</td>
                <td scope="row">{{fila.activo}}</td>
                <td scope="row">{{fila.correo}}</td>
                <td scope="row">{{fila.fechaCreacion}}</td>
                <td scope="row">{{fila.fechaActualizacion}}</td>
              </tr>
            </tbody>
          </table>

          <ul class="pagination" *ngIf="page.totalElements > 1">
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(0,page.size)"><i class="nb-arrow-left"></i></button></li>
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
            <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.totalPages-1,page.size)"><i class="nb-arrow-right"></i></button></li>
          </ul>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>