<div class="row">
  <div class="col-md-12">
    <nb-card class="col-md-12 col-lg-12 col-xxxl-12">
      <nb-card-header class="puff_center">Registro CFDI Contabilidad <span class="badge badge-primary" style="margin-left: 10px;" 
        *ngIf="preFolio != '*' && factura" >{{factura.statusFactura}}</span>
        <button type="button" *ngIf="preFolio !== '*'" class="btn btn-sm btn-outline-primary float-right" (click)="downloadPdf(factura.folio)">
          <i class="fa fa-file-pdf"></i>
        </button>
        &nbsp;&nbsp;
        <button type="button" *ngIf="preFolio !== '*' && factura.statusFactura == 'Timbrada'"
          class="btn btn-sm btn-outline-primary float-right" (click)="downloadXml(factura.folio)">
          <i class="fa fa-code"></i>
        </button>
      </nb-card-header>
      <nb-card-body>

            <br>

        <div *ngIf="factura.folio !== undefined">
          <p class="font-weight-bold puff_center">Información Emisor y Receptor</p>
          
        </div>

        <div *ngIf="preFolio === '*'">
          <p class="font-weight-bold slide_1">Información Emisor</p>
          <div class="row slide_1">    
            <div class="col-md-2">
              <label for="inputGiro" class="label">Línea Emisor</label>
              <select id="inputGiro" fullWidth class="form-control" style="display:block;"
                [(ngModel)]="formInfo.lineaEmisor">
                <option value="*">Seleccionar</option>
               <!--  <!option value="A">Línea A -- NO USAR SE BLOQUEA PARA EVITAR CAGADAS DE GENERAR DEVOLUCIONES</option> -->
                <option value="B">Línea B</option>
                <option value="C">Línea C</option>
              </select>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label for="inputGiro" class="label">Giro Empresa</label>
                <select id="inputGiro" fullWidth class="form-control"
                  (change)="onGiroSelection($event.target.value)" style="display:block;"
                  [(ngModel)]="formInfo.giroEmisor">
                  <option value="*">Seleccionar</option>
                  <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-5">
              <label for="inputEmpresa" class="label">Empresa</label>
              <select id="inputEmpresa" class="form-control" (change)="onEmnisorSelected($event.target.value)"
                [(ngModel)]="formInfo.empresa" style="display:block;" fullWidth>
                <option value="*">Seleccionar</option>
                <option *ngFor="let company of emisoresCat" [(value)]="company.id">
                  {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
          </div>
          <p class="font-weight-bold slide_2">Información Receptor</p>
          <div class="row slide_2">
            <div class="col-md-2">
              <label for="inputGiro" class="label">Línea Receptor</label>
              <select id="inputGiro" fullWidth class="form-control" style="display:block;"
                [(ngModel)]="formInfo.lineaReceptor">
                <option value="*">Seleccionar</option>
                <option value="CLIENTE">Clientes</option>
                <option value="A">Línea A</option>
                <option value="B">Línea B</option>
                <option value="C">Línea C</option>
              </select>
            </div>
            <div class="col-sm-5" *ngIf="formInfo.lineaReceptor!=='CLIENTE'">
              <div class="form-group">
                <label for="inputGiro" class="label">Giro Empresa</label>
                <select id="inputGiro" fullWidth class="form-control"
                  (change)="onGiroReceptorSelection($event.target.value)" style="display:block;"
                  [(ngModel)]="formInfo.giroReceptor">
                  <option value="*">Seleccionar</option>
                  <option *ngFor="let giro of girosCat" [(value)]="giro.id">{{giro.nombre}}</option>
                </select>
              </div>
            </div>
            <div class="col-md-5" *ngIf="formInfo.lineaReceptor!=='CLIENTE'">
              <label for="inputEmpresa" class="label">Empresa</label>
              <select id="inputEmpresa" class="form-control" (change)="onReceptorSelected($event.target.value)"
                [(ngModel)]="formInfo.receptorRfc" style="display:block;" fullWidth>
                <option value="*">Seleccionar</option>
                <option *ngFor="let company of receptoresCat" [(value)]="company.id">
                  {{company.informacionFiscal.rfc}}-{{company.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
            <div class="col-sm-5" *ngIf="formInfo.lineaReceptor==='CLIENTE'" >
              <label for="inputCliente" class="label">Razón social</label>
              <input id="inputCliente" class="form-control" fullWidth type="text" [(ngModel)]="formInfo.clientName" (ngModelChange)="buscarClientInfo($event)"
                placeholder="Nombre o razon social cliente">
            </div>
            
            <div class="col-md-5" *ngIf="formInfo.lineaReceptor==='CLIENTE'">
              <label for="inputClient" class="label">Cliente</label>
              <select id="inputClient" class="form-control" (change)="onClientSelected($event.target.value)"
                [(ngModel)]="formInfo.clientRfc" style="display:block;" fullWidth>
                <option value="*">Seleccionar</option>
                <option *ngFor="let client of clientsCat" [(value)]="client.id">
                  {{client.informacionFiscal.rfc}}-{{client.informacionFiscal.razonSocial}}
                </option>
              </select>
            </div>
            
          </div>
        </div>


        <div  *ngIf="!loading"> 
          <ngx-cfdi class="slide_1" [cfdi]="factura.cfdi" [pagos]="pagosCfdi" 
          [allowEdit]="factura.tipoDocumento === 'Factura' && (factura.folio === undefined || factura.statusFactura=='Validacion operaciones' || factura.statusFactura=='Validacion tesoreria' || factura.statusFactura=='Por Timbrar')">
          </ngx-cfdi>
        </div>


        <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
          <p *ngFor="let message of errorMessages">{{message}}</p>
        </div>
        <br>

        <div class="form-inline puff_center" *ngIf="this.factura.folio == undefined">
          <button nbButton status="success" class="mr" size="medium" (click)="solicitarCfdi(factura,dialog)" [nbSpinner]="loading"
            [disabled]="loading" nbSpinnerStatus="success" nbSpinnerSize="small" nbSpinnerMessage="">
            SOLICITAR CFDI
          </button>
          <button type="button" class="btn btn-info mr" (click)="limpiarForma()">LIMPIAR</button>
        </div>

        <div class="alert alert-success" *ngIf="successMessage!=undefined" role="alert">
          {{successMessage}}
        </div>


        <br>
        <div *ngIf="preFolio !== '*'">
          <div class="d-flex float-right">
            <button nbButton status="success" size="medium" (click)="timbrarFactura(factura,dialog)"
              [nbSpinner]="loading" [disabled]="loading" *ngIf="factura.statusFactura == 'Por Timbrar Contabilidad'"
              nbSpinnerStatus="success" nbSpinnerSize="small" nbSpinnerMessage="">
              Timbrar
            </button>
            &nbsp;&nbsp;
            <button nbButton status="danger" size="medium" (click)="cancelarFactura(factura)" [nbSpinner]="loading"
              [disabled]="loading" *ngIf="factura.statusFactura == 'Timbrada' && factura.tipoDocumento !== 'Complemento'" nbSpinnerStatus="danger"
              nbSpinnerSize="small" nbSpinnerMessage="">
              Cancelar
            </button>
            <button type="button" class="btn btn-success" (click)="aceptarFactura()"
              *ngIf="factura.statusFactura == 'Validacion operaciones'">Aceptar</button>
            &nbsp;&nbsp;
            <button type="button" class="btn btn-danger" (click)="rechazarFactura()"
              *ngIf="factura.statusFactura !== 'Timbrada' && factura.statusFactura !== 'Cancelada' && factura.statusFactura.indexOf('Rechazo')<0">Rechazar</button>
          </div>
        </div>

        <!-- <div *ngIf="!loading"> -->
          <ngx-generar-complemento class="slide_1" [factura]="factura" [(loading)]="loading" (myEvent)="getInvoiceByIdCdfi($event)" *ngIf="factura.statusFactura==='Timbrada' && preFolio !== '*'" ></ngx-generar-complemento>
        <!-- </div> -->

      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Seleccione Pack Facturacion</nb-card-header>
    <nb-card-body>
      <div class="row" style="width: 300 px;">
        <div class="col-sm-12">

          <label for="inputGiro" class="label">Pack de facturacion</label>
          <select id="inputGiro" fullWidth class="form-control" style="display:block;"
            [(ngModel)]="data.packFacturacion">
            <option value="NTLINK">NT Link</option>
            <option value="SW_SAPIENS">SW Sapiens</option>
            <option value="FACTURACION_MODERNA">Facturacion Moderna</option>
          </select>

        </div>

      </div>

    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning " (click)="ref.close(undefined)">Salir</button>
      &nbsp;&nbsp;
      <button class="btn btn-success" (click)="ref.close(data)">Timbrar</button>
    </nb-card-footer>
  </nb-card>
</ng-template>