<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Egresos</nb-card-header>
      <nb-card-body>
          <div class="row">
             
            <div class="col-sm-2">
              <label for="inputPayType" class="label">Forma de Pago</label>
              <select id="inputPayType" style="display:block;" class="form-control"
                [(ngModel)]="filterParams.formaPago" >
                <option value="*">TODAS</option>
                <option value="EFECTIVO">Efectivo</option>
                <option value="CHEQUE">Cheque nominativo</option>
                <option value="TRANSFERENCIA">Transferencia electrónica de fondos</option>
                <option value="DEPOSITO">Depósito bancario</option>
                <option value="CREDITO">Crédito</option>
              </select>
            </div>
            <div class="col-sm-2">
              <label for="inputBank" class="label">Banco receptor</label>
              <select  id="inputBank" style="display:block;" class="form-control" style="display:block;width: 250px;"
              [(ngModel)]="filterParams.banco" >
              <option value="*">TODOS</option>
              <option value="BBVA">BBVA</option>
              <option value="HSBC">HSBC</option>
              <option value="BANORTE">BANORTE</option>
              <option value="BANAMEX">BANAMEX</option>
              <option value="N/A">NO APLICA</option>
            </select>
            </div>
            <div class="col-md-2">
                <label for="formpicker1" class="label">Desde</label>
                <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker1" fullWidth style="display:block;" class="form-control"
                  [(ngModel)]="filterParams.since">
                <nb-datepicker #formpicker1></nb-datepicker>
            </div>
            <div class="col-md-2">
              <label for="formpicker2" class="label">Hasta</label>
              <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker2" fullWidth style="display:block;" class="form-control"
                [(ngModel)]="filterParams.to">
              <nb-datepicker #formpicker2></nb-datepicker>
            </div>
            <div class="col-sm-4">
              
              <label for="inputCuenta" class="label">Cuenta/CLABE</label>
              <div class="form-inline"> 
              <input id="inputCliente" class="form-control" type="text" [(ngModel)]="filterParams.cuenta" fullWidth placeholder="Cuenta/CLABE bancaria">
              <p>&nbsp;&nbsp;&nbsp;&nbsp;</p>
              <button type="button" class="btn btn-primary align-bottom"  (click)="updateDataTable()" status="primary">BUSCAR</button>
            </div>
            </div>

            
            </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Egresos</nb-card-header>
      <nb-card-body>

        <div *ngIf="page.empty == true" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        <div class="clearfix" *ngIf="page.empty == false">
            <strong>Resultados</strong>
            <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>
  
            <nb-select *ngIf="page.last==false || page.first==true" [selected]="pageSize" (selectedChange)="onChangePageSize($event)"
              id="inputPageSize" class="float-right">
              <nb-option value="10">10</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/20)" value="20">20</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/50)" value="50">50</nb-option>
            </nb-select>
        </div>

        <div class="table-responsive slide_1" *ngIf="page.empty == false">
          <table class="table table-sm">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Estatus Pago</th>
                <th scope="col">Tipo pago</th>
                <th scope="col">Forma de pago</th>
                <th scope="col">Fecha pago</th>
                <th scope="col">Ultima actualización</th>
                <th scope="col">Moneda</th>
                <th scope="col">Banco</th>
                <th scope="col">Cuenta</th>
                <th scope="col">Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of page.content">
                <td scope="row">{{fila.statusPago}}</td>
                <td scope="row">{{fila.tipoPago}}</td>
                <td scope="row">{{fila.formaPago}}</td>
                <td scope="row">{{fila.fechaPago}}</td>
                <td scope="row">{{fila.ultimoUsuario || fila.createUser}}</td>
                <td scope="row">{{fila.moneda}}</td>
                <td scope="row">{{fila.banco}}</td>
                <td scope="row">{{fila.cuenta}}</td>
                <td scope="row" class="text-right">{{fila.monto | currency}}</td>
              </tr>
              <tr>
                <td colspan="7"></td>
                <td><strong>TOTAL</strong></td>
                <td class="text-right"><strong>{{total | currency}}</strong></td>
              </tr>
            </tbody>
          </table>

          <ul class="pagination" *ngIf="page.totalElements > 1">
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(0,page.size)"><i class="nb-arrow-left"></i></button></li>
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
            <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.totalPages-1,page.size)"><i class="nb-arrow-right"></i></button></li>
          </ul>
        </div>

        <br>
        <div class="alert alert-warning" *ngIf="errors.length > 0" role="alert">
            <p *ngFor="let message of errors">{{message}}</p>
        </div>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>