<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

	<appender name="SYSLOG-TLS"
		class="com.papertrailapp.logback.Syslog4jAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>${CONSOLE_LOG_PATTERN}</pattern>
		</layout>

		<syslogConfig
			class="org.productivity.java.syslog4j.impl.net.tcp.ssl.SSLTCPNetSyslogConfig">
			<host>logs6.papertrailapp.com</host>
			<port>44911</port>
			<ident>invoice-manager</ident>
			<maxMessageLength>128000</maxMessageLength>
		</syslogConfig>
	</appender>

	<root level="ERROR">
		<appender-ref ref="SYSLOG-TLS" />
		<appender-ref ref="CONSOLE" />
	</root>
	
	<root level="INFO">
		<appender-ref ref="SYSLOG-TLS" />
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="com.business.unknow.services" level="INFO"/>

</configuration> 
