<div class="row">
    <div class="col-md-12">
      <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
        <nb-card-header class="puff_center">Cuenta Bancaria
          <button type="button" class="btn btn-outline-danger float-right" *ngIf="cuenta.id !== undefined"
          (click)="delete()">Borrar cuenta</button>
         </nb-card-header>
        
        <nb-card-body>
       
          <div class="alert alert-warning" *ngIf="errorMessages.length > 0" role="alert">
            <p *ngFor="let message of errorMessages">{{message}}</p>
          </div>
          <p class="alert alert-success" *ngIf="Params.success.length > 0" role="alert">{{Params.success}}</p>

          <div class="row slide_1" >
           

            <div class="col-6">
              <label for="inputBanco" class="label">Banco</label>
              <select id="inputBanco" style="display:block;" class="form-control" [(ngModel)]="cuenta.banco"
                name="banco">
                <option value="undefined">General</option>
                <option *ngFor="let bank of banksCat" [value]="bank.nombre">{{bank.nombre}}</option>
              </select>
            </div>
 
  
            <div class="col-6">
  
              <label for="inputEmpresa" class="label">Empresa razon social</label>
              <input type="text" class="form-control" (keyup)="getSelector($event)" [ngModel]="filterParams.empresarazon"
               id="empresasId" list="dynmicList" placeholder="Razon social"  [disabled]="cuenta.id !== undefined"/>
              <datalist id="dynmicList">
                <option *ngFor="let item of listEmpresasMatch" [value]="item">{{item}}</option>
              </datalist>
  
            </div>
               
        </div>

          <div class="row slide_1">
            <div class="col-6">
                <label for="cuenta" class="label">N° Cuenta</label>
                <input id="cuenta" class="form-control" fullWidth type="text" [(ngModel)]="cuenta.cuenta"
                   fullWidth placeholder="Numero de cuenta">
              </div>
              <div class="col-6">
                <label for="clave" class="label">Clave</label>
                <input id="clave" class="form-control" fullWidth type="text" [(ngModel)]="cuenta.clabe"
                   fullWidth placeholder="Clave Bancaria">
              </div>
          </div>
          <br>
  
          <div class="float-right slide_2">
  
            <button class="btn btn-primary" *ngIf="cuenta.id === undefined" [disabled]="this.Params.success !== ''" (click)="registry()"> Registrar</button>
            <button class="btn btn-primary" *ngIf="cuenta.id !== undefined" [disabled]="this.actualizando == true || this.clear == true" 
            [nbSpinner]="this.loading" nbSpinnerStatus="info" (click)="update()"> Actualizar</button>
  
          </div>
  
       
        </nb-card-body>
  
      </nb-card>
  
  
    </div>
  </div>