<div class="row">
  <div class="col-md-12">
    <nb-card [nbSpinner]="loading" nbSpinnerStatus="info" nbSpinnerSize="giant">
      <nb-card-header>Depositos</nb-card-header>
      <nb-card-body>

  <!--       <label class="search-label" for="search">Search:</label>
        <input nbInput [nbFilterInput]="dataSource" id="search" class="search-input">
    
        <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)">

          <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
          <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>
    
          <ng-container [nbTreeGridColumnDef]="customColumn">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(customColumn)" *nbTreeGridHeaderCellDef>
              {{customColumn}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">
            
              <nb-tree-grid-row-toggle
                [expanded]="row.expanded"
                *ngIf="row.data.kind === 'dir'">
              </nb-tree-grid-row-toggle>
              {{row.data[customColumn]}}
            </td>
          </ng-container>
    
          <ng-container *ngFor="let column of defaultColumns; let index = index"
                        [nbTreeGridColumnDef]="column"
                        [showOn]="getShowOn(index)">
            <th nbTreeGridHeaderCell [nbSortHeader]="getSortDirection(column)" *nbTreeGridHeaderCellDef>
              {{column}}
            </th>
            <td nbTreeGridCell *nbTreeGridCellDef="let row">{{row.data[column] || '-'}}</td>
          </ng-container>
    
        </table> -->

        <table class="tg" >
          <thead>
            <tr>
              <th class="tg-nrix">
                <label class="label">Depositos:</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Importe</label>
              </th>
              <th class="tg-0lax">
           
              </th>
              <th class="tg-0lax">
                <label class="label">Empresa</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Folio</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Banco</label>
              </th>
              <th class="tg-0lax">
           
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-0lax">
                <label class="label">1.-</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$23,200.00</label>
              </td>
              <td class="tg-0lax">
                <label class="label"></label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">Verslun</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">22312498235423</label>
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                <label class="lorem">11/05/2020</label>
              </td>
            <tr>
              <td class="tg-0lax">
                <label class="label">2.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">3.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">4.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">5.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">6.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">7.-</label>
              </td>
              <td class="tg-0lax">
        
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                
              </td>
            </tr>
            <tr>
              <td class="tg-0lax">
                <label class="label">8.-</label>
              </td>
             
            </tr>

          </tbody>
        </table>

   <!--      <div class="container" style="padding-top: 50px;">
          <div class="row justify-content-start">
            <div class="col-1">
              <label class="label">TOTAL: </label>
            </div>
            <div class="col-2">
              <label class="label">$23,200.00 </label>
            </div> 
            <div class="col-3">
              <label class="label">$23,200.00 </label>
            </div>
           
            
          </div>
        </div>
 -->
        <table class="tg-invisible" style="padding-top: 50px; ">
          <thead>
            <tr>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-xwyw">
                <label class="label"><strong>TOTAL:</strong>  </label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$23,200.00</label>
              </td>

            <tr>
              <td class="tg-xwyw">
                <label class="label"><strong>PASIVO</strong> </label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$23,200.00</label>
              </td>  
            </tr>
          </tbody>
        </table>

        <table class="tg" >
          <thead>
            <tr>
              <th class="tg-xwyw">
                <label class="label">Depositos empresas B:</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Importe</label>
              </th>
              <th class="tg-0lax">
           
              </th>
              <th class="tg-0lax">
                <label class="label">Empresa</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Folio</label>
              </th>
              <th class="tg-0lax">
                <label class="label">Banco</label>
              </th>
              <th class="tg-0lax">
           
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-0lax">
                <label class="label">1.-</label>
              </td>
              <td class="tg-0lax">
                <label class="label">$23,200.00</label>
              </td>
              <td class="tg-0lax">
                <label class="label"></label>
              </td>
              <td class="tg-0lax">
                <label class="label">Verslun</label>
              </td>
              <td class="tg-0lax">
                <label class="label">22312498235423</label>
              </td>
              <td class="tg-0lax">
                
              </td>
              <td class="tg-0lax">
                <label class="label">11/05/2020</label>
              </td>
            <tr>
              <td class="tg-0lax">
                <label class="label">2.-</label>
              </td>
              <td class="tg-0lax">
  
            </tr>

          </tbody>
        </table>

        <table class="tg-invisible" style="padding-top: 50px; " >
          <thead>
            <tr>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
              <th class="tg-0lax"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="tg-xwyw">
                <label class="label"><strong>Devolucion:</strong>  </label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$23,200.00</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">Pasivo mas</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">11.50%</label>
              </td>
            <tr>
              <td class="tg-xwyw" colspan="2" style="text-align: left;">
               
                <p><strong>De la siguiente forma:</strong></p>
              </td>
              
            </tr>
            <tr>
              <td class="tg-xwyw">
                <label class="label" ><strong>Efectivo</strong> </label>
              </td>
            </tr>
            <tr>
              <td class="tg-0lax" colspan="7">
                <label class="lorem" >900$ Favor de entregar en avenida tenayuca 22 local B. colonia centro tlanepantla,<strong> favor de entrargar en atencion de luis Marquez</strong></label>
              </td>
            </tr>
            <tr>
              <td class="tg-xwyw" style="color:#6a78a7;">
                <label class="lorem">$21,400.00</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">Ernestina Juares</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">Hannover**</label>
              </td>
            </tr>
            <tr>
              <td class="tg-0lax"></td>
              <td class="tg-0lax"colspan="2" style="text-align: left;">
                <label class="lorem">BBVA 0121800030450349530</label>
              </td>
            </tr>  
            <tr></tr>
            <tr>
              <td class="tg-xwyw" colspan="3">
                <label class="label"><strong>Comision Promotor:</strong> </label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">0.50%</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$100.00</label>
              </td>
            </tr>
            <tr>
              <td class="tg-xwyw" colspan="2" >
                <label class="label">Efectivo para insuergentes:</label>
             <!--    <p><strong>Efectivo para insuergentes:</strong></p> -->
              </td>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <td class="tg-xwyw" colspan="3">
                <label class="label"><strong>Comision JMMM:</strong> </label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">4%</label>
              </td>
              <td class="tg-0lax">
                <label class="lorem">$800.00</label>
              </td>
            </tr>

            <tr>
              <td class="tg-0lax" colspan="7" style="text-align: right;">
                <label class="label">Gracias</label>
              </td>
            </tr>
          
          </tbody>
        </table>
        
      </nb-card-body>
    </nb-card>
  </div>
</div>
