<div *ngIf="factura">
  <p class="font-weight-bold" *ngIf="factura.saldoPendiente > 0.01">Pagos</p>
  <div class="row" *ngIf="factura.saldoPendiente > 0.01">
    <div class="col-sm-2">
      <label for="inputPayCoin" class="label">Moneda</label>
      <select id="inputPayCoin" style="display:block;" class="form-control"
        [(ngModel)]="newPayment.moneda">
        <option value="MXN">Peso MX</option>
      </select>
    </div>
    <div class="col-sm-3">
      <label for="inputPayType" class="label">Forma de Pago</label>
      <select selected="1" id="inputPayType" style="display:block;" class="form-control"
        [(ngModel)]="paymentForm.payType" (change)="onPaymentTypeSelected($event.target.value)">
        <option value="*">Seleccionar</option>
        <option *ngFor="let payType of payTypeCat" [value]="payType.id"> {{payType.nombre}}</option>
      </select>
    </div>
    <div class="col-sm-7">
      <label for="inputPayType" class="label">Cuenta Receptora(Banco -- No cuenta -- CLABE)</label>
      <select selected="1" id="inputPayType" style="display:block;" class="form-control"
        [(ngModel)]="paymentForm.bankAccount" (change)="onPaymentBankSelected($event.target.value)">
        <option value="*">Seleccionar</option>
        <option *ngFor="let cuenta of cuentas" [value]="cuenta.id"> {{cuenta.banco}} -- {{cuenta.cuenta}} -- {{cuenta.clabe}}</option>
      </select>
    </div>
    
    <!--div class="col-sm-2" *ngIf="newPayment.moneda == 'USD'">
        <label for="payChangeType" class="label">Tipo de Cambio</label>
        <input id="payChangeType" class="form-control" fullWidth type="number" min="0" placeholder="Tipo de cambio"
          [(ngModel)]="newPayment.tipoDeCambio">
    </div-->
  </div>

<div class="row" *ngIf="factura.saldoPendiente > 0.01">
  <div class="col-sm-2">
    <label for="payAmmount" class="label">Monto Pago</label>
    <input id="payAmmount" class="form-control" fullWidth type="number" min="0" placeholder="Monto" [(ngModel)]="newPayment.monto">
  </div>
  <div class="col-md-3">
        <label for="payAmmount" class="label">Fecha de pago</label>
        <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" fullWidth style="display:block;"
          [(ngModel)]="newPayment.fechaPago">
        <nb-datepicker #formpicker></nb-datepicker>
  </div>
  <div class="form-group col-md-7">
    <label for="payFile" class="label">Comprobante de pago</label>
    <div class="input-group">
      <div class="custom-file" id="payFile">
        <input  #fileInput type="file" class="custom-file-input" id="inputGroupFile01" accept="image/*"
          (change)="fileUploadListener($event)" style="display:block;"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">{{paymentForm.filename}}</label>
      </div>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button nbButton status="primary" size="medium" (click)="sendPayment()" [nbSpinner]="loading" [disabled]="loading"
      nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="">
      Enviar Pago
      </button>
    </div>
  </div>
  
</div>
<br>
<div class="row d-flex justify-content-center">
  <div class="alert alert-success" *ngIf="paymentForm.successPayment == true" role="alert">
    Pago exitosamente enviado.
  </div>
</div>
<div class="alert alert-warning" *ngIf="payErrorMessages.length > 0" role="alert">
  <p *ngFor="let message of payErrorMessages">{{message}}</p>
</div>
<br>
<!--TABLA PAGOS-->
<p class="font-weight-bold" *ngIf="invoicePayments.length>0">Lista de pagos</p>
<table class="table table-sm" *ngIf="invoicePayments.length>0">
  <thead class="thead-dark">
    <tr>
      <th scope="col" class="text-center">Acciones</th>
      <th scope="col" class="text-center">Moneda</th>
      <th scope="col" class="text-center">Forma de pago</th>
      <th scope="col" class="text-center">Banco</th>
      <th scope="col" class="text-center">Monto</th>
      <th scope="col" class="text-center">Fecha de Pago</th>
      <th scope="col" class="text-center">Cuenta</th>
      <th scope="col" class="text-center">Validacion</th>
      <th scope="col" class="text-center">Comentarios</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let payment of invoicePayments; let i = index">
      <td scope="row" class="text-center">
        <button type="button" class="btn"
          [ngClass]="{'btn-outline-secondary': payment.statusPago =='ACEPTADO', 'btn-outline-danger':payment.statusPago !='ACEPTADO'}"
          [disabled]="payment.statusPago =='ACEPTADO'" (click)="deletePayment(payment.id)">
          <i class="fa fa-trash"></i>
        </button>
      </td>
      <td scope="row" class="text-center">{{payment.moneda}}</td>
      <td scope="row" class="text-center">{{payment.formaPago}}</td>
      <td scope="row" class="text-center">{{payment.banco}}</td>
      <td scope="row" class="text-center">{{payment.monto | currency}}</td>
      <td scope="row" class="text-center">{{payment.fechaPago}}</td>
      <td scope="row" class="text-center">{{payment.cuenta}}</td>
      <td scope="row" class="text-center">{{payment.statusPago}}</td>
      <td scope="row" class="text-center">{{payment.comentarioPago}}</td>
    </tr>
  </tbody>
</table>


</div>