<div class="row" *ngIf="cfdi"> 
  <div class="clearfix col align-self-end">
      <button nbButton status="success" size="small" (click)="updateCfdi()" [nbSpinner]="loading" class="float-right puff_center"
              [disabled]="loading" nbSpinnerStatus="success"  *ngIf="allowEdit && cfdi.id !== undefined"
              nbSpinnerSize="small" nbSpinnerMessage="">
              Actualizar CFDI <i class="fa fa-sync" style="margin-left: 10px;"></i>
      </button>
  </div>
</div>

<div class="alert alert-success" *ngIf="successMessage!=undefined" role="alert">
  {{successMessage}}
</div>
<div class="row" *ngIf="cfdi" >
  <div class="col-md-12">
      <div *ngIf="cfdi.emisor && cfdi.emisor.rfc !== undefined && !factura">
        <div class="row slide_2" >
          <div class="col-sm-3" >
            <label for="rfcEmisor" class="label">RFC Emisor</label>
            <input id="rfcEmisor"  class="form-control"  type="text" [(ngModel)]="cfdi?.emisor.rfc"
            fullWidth  placeholder="Rfc" disabled>
          </div>
          <div class="col-sm-9">
            <label for="nombreEmisor" class="label">Nombre Emisor</label>
            <input id="nombreEmisor" type="text" [(ngModel)]="cfdi.emisor.nombre" class="form-control" 
            fullWidth  placeholder="Nombre" disabled>
          </div>
        </div>
        <div class="row slide_2">
          <div class="col-sm-12">
            <label for="direccioneEmisor" class="label">Direccion Emisor</label>
            <textarea id="direccioneEmisor" type="text" style="margin-top: 0px; margin-bottom: 0px; height: 38px;" 
            [(ngModel)]="cfdi.emisor.direccion" [disabled]="!allowEdit"  
            placeholder="Direccion Emisor" class="form-control"></textarea>
          </div>
        </div>
      </div>
      
      <div *ngIf="cfdi.emisor && cfdi.emisor.rfc !== undefined && factura && factura.lineaEmisor">
        <div class="row slide_2" >
          <div class="col-sm-3" >
            <label for="lineaEmisor" class="label">Linea Emisor</label>
            <input id="lineaEmisor"  class="form-control"  type="text" [(ngModel)]="factura.lineaEmisor"
            fullWidth  placeholder="Linea Emisor" disabled>
          </div>
          <div class="col-sm-3" >
            <label for="rfcEmisor" class="label">RFC Emisor</label>
            <input id="rfcEmisor"  class="form-control"  type="text" [(ngModel)]="cfdi?.emisor.rfc"
            fullWidth  placeholder="Rfc" disabled>
          </div>
          <div class="col-sm-6">
            <label for="nombreEmisor" class="label">Nombre Emisor</label>
            <input id="nombreEmisor" type="text" [(ngModel)]="cfdi.emisor.nombre" class="form-control" 
            fullWidth  placeholder="Nombre" disabled>
          </div>
        </div>
        <div class="row slide_2">
          <div class="col-sm-12">
            <label for="direccioneEmisor" class="label">Direccion Emisor</label>
            <textarea id="direccioneEmisor" type="text" style="margin-top: 0px; margin-bottom: 0px; height: 38px;" 
            [(ngModel)]="cfdi.emisor.direccion" [disabled]="!allowEdit"  
            placeholder="Direccion Emisor" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <div *ngIf="cfdi.receptor && cfdi.receptor.rfc !== undefined && !factura">      
        <div class="row slide_3">  
          <div class="col-sm-3" >
            <label for="rfcReceptor" class="label">RFC Receptor</label>
            <input id="rfcReceptor" type="text" [(ngModel)]="cfdi.receptor.rfc" class="form-control" 
            fullWidth  placeholder="Rfc" disabled>
          </div>
          <div class="col-sm-9">
            <label for="nombreReceptor" class="label">Nombre Receptor</label>
            <input id="nombreReceptor" type="text" [(ngModel)]="cfdi.receptor.nombre" class="form-control" 
            fullWidth placeholder="Nombre" disabled>
          </div>
        </div>
        <div class="row slide_3">
          <div class="col-sm-12">
            <label for="direccioneReceptor" class="label">Direccion Receptor</label>
            <textarea id="direccioneReceptor" type="text" style="margin-top: 0px; margin-bottom: 0px; height: 38px;" 
            [(ngModel)]="cfdi.receptor.direccion"  [disabled]="!allowEdit"
            placeholder="Direccion Receptor" class="form-control"></textarea>
          </div>
        </div>
      </div>    
      
      <div *ngIf="cfdi.receptor && cfdi.receptor.rfc !== undefined && factura && factura.lineaRemitente">      
        <div class="row slide_3">  
          <div class="col-sm-3" >
            <label for="lineaRemitente" class="label">Linea Remitente</label>
            <input id="lineaRemitente" type="text" [(ngModel)]="factura.lineaRemitente" class="form-control" 
            fullWidth  placeholder="Linea Remitente" disabled>
          </div>
          <div class="col-sm-3" >
            <label for="rfcReceptor" class="label">RFC Receptor</label>
            <input id="rfcReceptor" type="text" [(ngModel)]="cfdi.receptor.rfc" class="form-control" 
            fullWidth  placeholder="Rfc" disabled>
          </div>
          <div class="col-sm-6">
            <label for="nombreReceptor" class="label">Nombre Receptor</label>
            <input id="nombreReceptor" type="text" [(ngModel)]="cfdi.receptor.nombre" class="form-control" 
            fullWidth placeholder="Nombre" disabled>
          </div>
        </div>
        <div class="row slide_3">
          <div class="col-sm-12">
            <label for="direccioneReceptor" class="label">Direccion Receptor</label>
            <textarea id="direccioneReceptor" type="text" style="margin-top: 0px; margin-bottom: 0px; height: 38px;" 
            [(ngModel)]="cfdi.receptor.direccion"  [disabled]="!allowEdit"
            placeholder="Direccion Receptor" class="form-control"></textarea>
          </div>
        </div>
      </div>

      <p class="font-weight-bold">Información CFDI</p>
        
      <div class="row slide_4">
        <div class="col-md-2">
          <label for="inputDocType" class="label">Tipo Documento</label>
          <select id="inputDocType" style="display:block;" class="form-control" disabled
            [(ngModel)]="cfdi.tipoDeComprobante">
            <option value="*">Seleccionar</option>
            <option value="I">Factura Ingreso</option>
            <option value="P">Complemento(pago)</option>
          </select>
        </div>
        <div class="col-md-2"  *ngIf="cfdi.receptor">
          <label for="inputPaytype" class="label">Uso CFDI</label>
          <select selected="1" id="inputPaytype" style="display:block;" class="form-control" [disabled]="!allowEdit"
            [(ngModel)]="cfdi.receptor.usoCfdi">
            <option value="*">Seleccionar</option>
            <option *ngFor="let clave of usoCfdiCat" [(value)]="clave.clave">{{clave.clave}}-{{clave.descripcion}}</option>
          </select>
        </div>
        
        <div class="col-md-3">
          <label for="inputPayMethod" class="label">Metodo de Pago</label>
          <select id="inputPayMethod" style="display:block;" class="form-control" [(ngModel)]="cfdi.metodoPago" [disabled]="!allowEdit"
            (change)="onPayMethodSelected($event.target.value)">
            <option value="*">Seleccionar</option>
            <option value="PUE">Factura pagada (PUE)</option>
            <option value="PPD">Factura pago por definir(PPD)</option>
          </select>
        </div>
        <div class="col-md-3">
          <label for="inputPaytype" class="label">Forma de Pago</label>
          <select selected="1" id="inputPaytype" style="display:block;" class="form-control" [disabled]="cfdi.metodoPago === '*' || !allowEdit"
            [(ngModel)]="cfdi.formaPago">
            <option value="*">Seleccionar</option>
            <option *ngFor="let payType of payTypeCat" [(value)]="payType.id">{{payType.nombre}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputCoin" class="label">Moneda</label>
          <div class="">
            <select id="inputCoin" style="display:block;" class="form-control" [disabled]="!allowEdit"
            [(ngModel)]="cfdi.moneda" (change)="onMonedaChange($event.target.value)">
              <option value="*">Seleccionar</option>
              <option value="XXX">N/A</option>
              <option value="MXN">Peso MX</option>
              <option value="USD">Dolar US</option>
            </select>
            <input id="inputChangeType" style=" margin-top: 15px;" class="form-control" type="number" [(ngModel)]="cfdi.tipoCambio" *ngIf="cfdi.moneda==='USD'">
          </div>
          
        </div>
      </div>
    
   <p>{{errorMessages}}</p>

    <br>
    
      <ngx-conceptos [cfdi]="cfdi" [concepto]= "newConcep" [allowEdit]= "allowEdit"></ngx-conceptos>
    <br>

    <div *ngIf=" pagos && pagos.length>0">
      <p class="font-weight-bold">Complementos</p>
      <br>
      <div class="table-responsive">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Acciones</th>
              <th class="text-center">Folio</th>
              <th class="text-center">UUID</th>
              <th class="text-center">Fecha pago</th>
              <th class="text-center">Parcialidad</th>
              <th class="text-center">Importe Pagado</th>
              <th class="text-center">Saldo Anterior</th>
              <th class="text-center">Saldo Insoluto</th>
              <th class="text-center">Moneda</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let complemento of pagos">
              <td scope="row" class="text-center">
                <button type="button" [disabled]="complemento.idDocumento === undefined" class="btn btn-sm"
                  [ngClass]="{'btn-outline-secondary': complemento.idDocumento === undefined, 'btn-outline-primary':complemento.idDocumento !== undefined}"
                  (click)="downloadPdf(complemento.folio)">
                  <i class="fa fa-file-pdf"></i> 
                </button>&nbsp;&nbsp;
                <button type="button" [disabled]="complemento.idDocumento === undefined" class="btn btn-sm"
                [ngClass]="{'btn-outline-secondary': complemento.idDocumento === undefined, 'btn-outline-primary':complemento.idDocumento !== undefined}"
                  (click)="downloadXml(complemento.folio)">
                  <i class="fa fa-code"></i>
                </button>
              </td>
              <td scope="row" class="text-center">{{complemento.folio}}</td>
              <td scope="row" class="text-center">{{complemento.idDocumento}}</td>
              <td scope="row" class="text-center">{{complemento.fechaPago}}</td>
              <td scope="row" class="text-center">{{complemento.numeroParcialidad}}</td>
              <td scope="row" class="text-center">{{complemento.importePagado | currency}}</td>
              <td scope="row" class="text-center">{{complemento.importeSaldoAnterior | currency}}</td>
              <td scope="row" class="text-center">{{complemento.importeSaldoInsoluto | currency}}</td>
              <td scope="row" class="text-center">{{complemento.moneda}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Error en el CFDI</nb-card-header>
    <nb-card-body>
      <div class="row" style="width: 300 px;">
        <div class="col-sm-12">
          {{data}}
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button class="btn btn-warning" (click)="ref.close(undefined)">Salir</button>
    </nb-card-footer>
  </nb-card>
</ng-template>