
<div *ngIf="!loading">
    <div *ngIf="factura && factura.cfdi">
     
      <p class="font-weight-bold" *ngIf=" factura.cfdi.total > paymentSum && factura.metodoPago =='PPD' && factura.folio!==undefined">Cargar Complementos</p>
      <div class="row slide_1" *ngIf="factura.cfdi.total > paymentSum && factura.metodoPago =='PPD'">
        <div class="col-2">
          <label for="inputPayCoin" class="label">Moneda</label>
          <select id="inputPayCoin" style="display:block;" class="form-control" [(ngModel)]="payment.moneda">
            <option value="MXN">Peso MX</option>
          </select>
        </div>
        <div class="col-3">
          <label for="inputPayType" class="label">Forma de Pago</label>
          <select selected="1" id="inputPayType" style="display:block;" class="form-control" [(ngModel)]="payment.formaPago">
            <option value="*">Seleccionar</option>
            <option *ngFor="let payType of complementPayTypeCat" [value]="payType.id"> {{payType.nombre}}</option>
          </select>
        </div>
        <div class="col-2">
          <label for="payAmmount" class="label">Monto Complemento</label>
          <input id="payAmmount" class="form-control" fullWidth type="number" min="0" placeholder="Monto"
            [(ngModel)]="payment.monto">
        </div>
        <div class="col-2">
          <label for="payAmmount" class="label">Fecha de pago</label>
          <div class="input-group">
            <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" format="dd\MM\yyyy"
              [(ngModel)]="payment.fechaPago" style="display:block; width: 100%;">
            <nb-datepicker #formpicker></nb-datepicker>           
          </div>
        </div>
        <div class="col-3">
          <button style="width: 100%; margin-top: 28px;" nbButton status="primary" size="medium" (click)="generateComplement()" [nbSpinner]="loading"
          [disabled]="loading" nbSpinnerStatus="primary" nbSpinnerSize="small" nbSpinnerMessage="">
          Generar Complemento
        </button>
        </div>
      </div>
    </div>


    <div *ngIf="factura.complementos!==undefined  && factura.metodoPago=='PPD' && factura.complementos.length>0">
      <p class="font-weight-bold">Complementos</p>
      <br>
      <div class="table-responsive slide_1">
        <table class="table table-sm">
          <thead class="thead-dark">
            <tr>
              <th class="text-center">Acciones</th>
              <th class="text-center">Folio</th>
              <th class="text-center">Status</th>
              <th class="text-center">Emisor</th>
              <th class="text-center">Receptor</th>
              <th class="text-center">Metodo Pago</th>
              <th class="text-center">Monto</th>
              <th class="text-center">Fecha Solicitud</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let complemento of factura.complementos">
              <td scope="row" class="text-center">
                <button type="button"  class="btn btn-outline-primary"
                  (click)="downloadPdf(complemento.folio)">
                  <i class="fa fa-file-pdf"></i>
                </button>&nbsp;&nbsp;
                <button type="button" [disabled]="complemento.statusFactura !='Timbrada'" class="btn"
                  [ngClass]="{'btn-outline-secondary': complemento.statusFactura !='Timbrada', 'btn-outline-primary':complemento.statusFactura =='Timbrada'}"
                  (click)="downloadXml(complemento.folio)">
                  <i class="fa fa-code"></i>
                </button>&nbsp;&nbsp;
                <button type="button" [disabled]="complemento.statusFactura == 'Timbrada'||  complemento.statusFactura == 'Cancelada' || loading" class="btn"
                  [ngClass]="{'btn-outline-secondary': complemento.statusFactura =='Timbrada'||  complemento.statusFactura == 'Cancelada',
                    'btn-outline-success':complemento.statusFactura !='Timbrada'&&  complemento.statusFactura != 'Cancelada' }"
                  (click)="timbrarFactura(complemento,dialog)">
                  <i class="fa fa-check-circle"></i>
                </button>
              </td>
              <td scope="row" class="text-center">{{complemento.folio}}</td>
              <td scope="row" class="text-center">{{complemento.statusFactura}}</td>
              <td scope="row" class="text-center">{{complemento.rfcEmisor}}</td>
              <td scope="row" class="text-center">{{complemento.rfcRemitente}}</td>
              <td scope="row" class="text-center">{{complemento.metodoPago}}</td>
              <td scope="row" class="text-center">{{complemento.total | currency}}</td>
              <td scope="row" class="text-center">{{complemento.fechaCreacion}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
</div>
<br>
<div class="alert alert-warning" *ngIf="payErrorMessages.length > 0" role="alert">
  <p *ngFor="let message of payErrorMessages">{{message}}</p>
</div>
