<div class="row">
  <div class="col-md-12">
    <nb-card class="inline-form-card">
      <nb-card-header>Pagos</nb-card-header>
      <nb-card-body>
          <div class="row">
              <div class="col-sm-2">
                <label for="inputPayType" class="label">Forma de Pago</label>
                <select selected="1" id="inputPayType" style="display:block;" class="form-control"
                  [(ngModel)]="paymentForm.payType" (change)="onPaymentTypeSelected($event.target.value)">
                  <option value="*">Seleccionar</option>
                  <option value="EFECTIVO">Efectivo</option>
                  <option value="CHEQUE">Cheque nominativo</option>
                  <option value="TRANSFERENCA">Transferencia electrónica de fondos</option>
                  <option value="DEPOSITO">Deposito bancario</option>
                  <option value="CREDITO">Credito Despacho</option>
                </select>
              </div>
              <div class="col-sm-2">
                  <label for="inputValidationStatus" class="label">Estatus Validacion</label>
                  <select selected="1" id="inputValidationStatus" style="display:block;" class="form-control"
                    [(ngModel)]="paymentForm.status" (change)="onPaymentStatusSelected($event.target.value)">
                    <option value="*">TODOS</option>
                    <option value="VALIDACION">En Validacion</option>
                    <option value="ACEPTADO">Aceptado</option>
                    <option value="RECHAZADO">Rechazado</option>
                  </select>
                </div>
              <div class="col-sm-2">
                <label for="inputPayType" class="label">Banco receptor</label>
                <select selected="1" id="inputPayType" style="display:block;" class="form-control"
                  [(ngModel)]="paymentForm.bank" (change)="onPaymentBankSelected($event.target.value)">
                  <option value="*">TODOS</option>
                  <option value="BBVA">BBVA</option>
                  <option value="HSBC">HSBC</option>
                  <option value="BANORTE">BANORTE</option>
                  <option value="BANAMEX">BANAMEX</option>
                  <option value="N/A">NO APLICA</option>
                </select>
              </div>
              <div class="col-sm-2">
                <label for="payAmmount" class="label">Monto Pago</label>
                <input id="payAmmount" class="form-control" fullWidth type="number" placeholder="Monto"
                  [(ngModel)]="paymentForm.monto">
              </div>
              <div class="col-md-2">
                <label for="payAmmount" class="label">Fecha de pago</label>
                <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" fullWidth style="display:block;" class="form-control"
                  [(ngModel)]="paymentForm.fechaPago">
                <nb-datepicker #formpicker></nb-datepicker>
              </div>
              <div class="form-group col-md-2">
                  <button type="button" class="btn btn-primary" status="primary">BUSCAR</button>
              </div>
            </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>Facturas</nb-card-header>
      <nb-card-body>

        <div *ngIf="page.empty == true" class="alert alert-primary" role="alert">
          No se encontraron resultados
        </div>
        <div class="table-responsive" *ngIf="page.empty == false">
          <div class="clearfix">
            <strong>Resultados</strong>
            <button type="button" (click)="downloadHandler()" class="btn btn-success float-right">Descarga</button>

            <nb-select *ngIf="page.last==false" [selected]="pageSize" (selectedChange)="onChangePageSize($event)"
              id="inputPageSize" class="float-right">
              <nb-option value="10">10</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/20)" value="20">20</nb-option>
              <nb-option *ngIf="page.number<(page.totalElements/50)" value="50">50</nb-option>
            </nb-select>
          </div>


          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col" *ngFor="let header of headers">{{header}}</th>
                <th scope="col">Validar</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let fila of page.content">
                <td scope="row">{{fila.folio}}</td>
                <td scope="row">{{fila.moneda}}</td>
                <td scope="row">{{fila.banco}}</td>
                <td scope="row">{{fila.monto | currency}}</td>
                <td scope="row">{{fila.statusPago}}</td>
                
                <td scope="row">{{fila.tipoPago}}</td>
                <td scope="row">{{fila.formaPago}}</td>
                <td scope="row">{{fila.fechaPago}}</td>
                <td scope="row">{{fila.ultimoUsuario}}</td>
                <td scope="row"><button type="button" (click)="openDialog(fila)" class="btn btn-primary"><i class="fa fa-search"></i></button></td>
              </tr>
            </tbody>
          </table>

          <ul class="pagination" *ngIf="page.totalElements > 1">
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(0,page.size)"><i class="nb-arrow-left"></i></button></li>
            <li class="page-item" *ngIf="page.first==false"><button class="btn page-link"
                (click)="updateDataTable(page.number-1,page.size)">{{page.number}}</button></li>
            <li class="page-item active"><a class="page-link"><strong>{{page.number+1}}</strong></a></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.number+1,page.size)">{{page.number+2}}</button></li>
            <li class="page-item" *ngIf="page.last==false"><button class="btn page-link"
                (click)="updateDataTable(page.totalPages-1,page.size)"><i class="nb-arrow-right"></i></button></li>
          </ul>
        </div>

        
      </nb-card-body>
    </nb-card>
  </div>
</div>