<nb-card>
  <nb-card-header>
    <div class="clearfix">
      <strong class="float-left">Detalles Devolucion</strong>
      <div class="float-right d-inline p-2 bg-primary text-white">{{payment.status}}</div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <div class="form-inline">
      <p class="font-weight-bold">Beneficiario</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.beneficiario}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">Monto</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.monto | currency}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">Forma de Pago</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.formaPago}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">{{payment.tipoReferencia}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p>{{payment.referencia}}</p>
      <button *ngIf="payment.formaPago === 'PAGO_MULTIPLE'" class="btn-sm btn-outline-primary" (click)="donwloadRefFile(payment.id)"><i class="fa fa-download"></i></button>
    </div>
    <div class="form-inline">
      <p class="font-weight-bold">Banco</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.banco}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">Solicitante</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.solicitante}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">Fecha Solicitud</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.fechaCreacion | date}}</p>
      <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
      <p class="font-weight-bold">Fecha Pago</p>
      &nbsp;&nbsp;&nbsp;
      <p>{{payment.fechaPago | date}}</p>
    </div>
    <div class="form-inline">
      <p>{{payment.comentarios}}</p>
    </div>
    <br>
    <p class="font-weight-bold" *ngIf="payment.status === 'ACEPTADO'" >Datos de cuenta fondeo</p>
    <div class="row" *ngIf="payment.status === 'ACEPTADO'" >
      <div class="col-sm-3">
        <label for="inputRfc" class="label">RFC Empresa retiro</label>
        <input id="inputRfc" class="form-control" fullWidth type="text" [(ngModel)]="formInfo.rfc" (ngModelChange)="companySearch($event)" 
          fullWidth placeholder="RFC Empresa">
      </div>
      <div class="col-sm-6">
        <label for="inputPayType" class="label">Cuenta Receptora(Banco -- No cuenta -- CLABE)</label>
        <select selected="1" id="inputPayType" style="display:block;" class="form-control"
          [(ngModel)]="formInfo.cuenta" >
          <option value="*">Seleccionar</option>
          <option *ngFor="let cuenta of cuentas" [value]="cuenta.id">{{cuenta.empresa}} -- {{cuenta.banco}} -- {{cuenta.cuenta}}</option>
        </select>
      </div>
      <div class="col-md-3">
        <label for="payAmmount" class="label">Fecha de pago</label>
        <input nbInput placeholder="Fecha de pago" [nbDatepicker]="formpicker" fullWidth style="display:block;"
          [(ngModel)]="payment.fechaPago">
        <nb-datepicker #formpicker></nb-datepicker>
      </div>
    </div>
    <div class="alert alert-warning" *ngIf="errorMesage.length > 0" role="alert">
      <p>{{errorMesage}}</p>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <div class="clearfix">
      <button class="float-left btn btn-warning" (click)="exit()">Salir</button>
      <button *ngIf="payment.status === 'ACEPTADO'" class="float-right btn btn-success" (click)="acceptDevolution()">Validar pago</button>
    </div>
  </nb-card-footer>
</nb-card>